.about-header {
    height: 100vh;
    background: url('../img/about-s22-header.jpg') top center no-repeat;
    background-size: cover;
    padding-top: 1px;
}

#menuTop {
    width: 100%;
    /*position: absolute;*/
    position: fixed;
    top: 0;
    padding-top: 30px;
    transition: all 1s;
    z-index: 999;
}

#menu {
    color: white;
}

#menu li {
    vertical-align: top;
}

#menu {
    color: white;
}

#menu li {
    vertical-align: top;
}

#menu-small {
    top: 0;
    height: 100vh;
    padding-top: 40px;
    overflow: auto;
}

#menu-small li {
    padding: 15px 5%;
}

#menu-small li p {
    margin-top: 0;
}

#menu-small .accordion-section-title {
    padding: 0;
}

.accordion-section-content ul {
    font-size: 13px;
}

#menu-small .accordion-section-content ul li {
    border-top: 1px solid #AAA;
    border-bottom: none;
}

#menu-small .menu_main-span {
    font-size: 13px;
}

#category {
    position: static;
    margin-left: 10%;
}

.inverse-nav {
    background: white;
    padding-top: 0 !important;
    /*position: fixed !important;*/
}

.inverse-menu {
    color: black !important;
}

#menu li p.inverse-arrows:hover {
    background: url("../icon/img/arrow-left-white.png") left bottom no-repeat, url("../icon/img/arrow-right-white.png") right top no-repeat;
}

#small-menu-buttton.inverse-small-menu-buttton {
    background: url("../icon/img/menu-white.png") center no-repeat !important;
}

.menu-hide {
    top: -150px !important;
}

.header-h {
    max-width: 30%;
    letter-spacing: .04em;
    margin-top: 170px;
    margin-left: 8%;
    color: white;
    transition: all .5s;
}

.header-h h2 {
    margin-bottom: 50px;
}

.header-title-big {
    font-size: 32px;
}

.header-title-small {
    font-size: 18px;
}

.header-title-smallest {
    font-size: 14px;
}

.scroll-arrow {
    position: absolute;
    cursor: pointer;
    width: 100%;
    text-align: center;
    bottom: 40px;
    animation-name: arrowDown;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes arrowDown {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(20px)
    }
}

#content {
    font-size: 14px;
    overflow: hidden;
    margin-top: 0;
}

.about-spectacle {
    letter-spacing: .08em;
    margin-left: 8%;
    margin-right: 4%;
}

.about-spectacle-title {
    margin-bottom: 40px;
}

.about-spectacle-title h3 {
    margin-bottom: 40px;
}

.title-big {
    font-size: 26px;
    font-weight: normal;
    letter-spacing: .1em;
}

.title-small {
    font-size: 18px;
    letter-spacing: .02em;
}

.title-additional {
    font-size: 18px;
    letter-spacing: .12em;
}

.people-of-spectacle {
    margin-left: 15%;
    margin-right: 12%;
}

.people-of-spectacle-title h3 {
    margin-bottom: 40px;
}

.people-of-spectacle-col {
    letter-spacing: .12em;
    margin-right: 5%;
}

.music-of-spectacle-title {
    margin-top: 80px;
    margin-bottom: 40px;
}

.about-spectacle-ru {
    margin-bottom: 80px;
}

.about-spectacle-kca-mns {
    margin-bottom: 120px;
}

.about-spectacle-p {
    margin-bottom: 25px;
}

.read-piece-a {
    font-size: 18px;
    vertical-align: bottom;
}

.read-piece-a img {
    margin-left: 20px;
}

.people-position {
    font-weight: bold;
    /*font-size: 14px;*/
}

.people {
    /*font-size: 14px;*/
}

.people-indent {
    margin-bottom: 30px;
}

.top-heading {
    text-align: center;
    font-size: 26px;
}

.top-subheading {
    text-align: center;
    font-size: 18px;
    color: #464646;
}

/* TABS */
.tabs {
    width: 90%;
    margin: 80px auto;
}

.tabs-item {
    list-style: none;
    float: left;
    margin-left: 5px;
}

.tabs-link {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-family: pt-serif, sans-serif;
    font-size: 25px;
}

.tabs-content {
    float: left;
    width: 98%;
    background: white;
    padding: 2%;
    position: relative;
}

.tab {
    display: none;
}

.tabs-subheading {
    font-size: 17px;
}

.tab-active {
    display: block;
}

.about-p {
    margin-top: 10px;
    text-align: justify;
}

/*li.active a, li.active a:hover {
    background: white;
    color: #77d9d3;
}*/

/*OWL CAROUSEL FIX*/
.owl-carousel {
    position: relative;
}

.owl-carousel .item-video {
    height: 300px
}

.prev-button {
    position: absolute;
    left: -1%;
}

.next-button {
    position: absolute;
    right: -1%;
}

.photo-buttons {
    top: 46%;
    z-index: 3;
}

.video-buttons {
    top: 45%;
}

/* AUDIO PLAYER */
.jp-jplayer, .jp-audio {
    /*max-width: 420px;*/
    margin: 0 auto;
    /*padding: 0 10px;*/
}

.jp-title {
    float: left;
    width: 64%;
    height: 28px;
    padding: 4px 0 0 25px;
    font-size: 18px;
    /* text-align: center; */
    overflow: hidden;
}

.jp-title ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jp-gui {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.jp-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.jp-controls li {
    display: inline;
}

.jp-controls a {
    color: #fff;
    outline: none;
}

.jp-play, .jp-pause {
    float: left;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
}

.jp-mute, .jp-unmute {
    position: absolute;
    right: 55px;
    top: 0;
    width: 20px;
    height: 40px;
    display: inline-block;
    line-height: 46px;
}

.play-stop-icon {
    margin-bottom: 3px;
}

.jp-mute {
    text-align: left;
}

.jp-time-holder {
    color: black;
    font-size: 18px;
    line-height: 14px;
    position: absolute;
    right: 10px;
    top: 11px;
}

.jp-current-time {
    float: right;
    font-size: 18px;
    padding: 5px 10px;
}

.jp-progress {
    background-color: #cdcdcd;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 32px;
    width: 100%;
}

.jp-play-bar {
    height: 5px;
    background-color: #a1a1a1;
}

.jp-volume-bar {
    position: absolute;
    right: 10px;
    top: 17px;
    width: 45px;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    background-color: #992E18;
    overflow: hidden;
}

.jp-volume-bar-value {
    background-color: #fff;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
}

/* ACCORDEON */
.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    width: 90%;
    overflow: hidden;
    /*box-shadow:0 1px 3px rgba(0,0,0,0.25);*/
    margin: 0 auto;
    /*background:#f7f7f7;*/
}

/*----- Section Titles -----*/
.accordion-section-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    /*border-bottom:1px solid #1a1a1a;*/
    transition: all linear 0.15s;
    background: white;
    /* Type */
    font-size: 1.200em;
    /*text-shadow:0 1px 0 #1a1a1a;*/
    color: black;
}

.accordion-section-title.active, .accordion-section-title:hover {
    /*background:#4c4c4c;*/
    opacity: .8;
    /* Type */
    text-decoration: none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}

/*----- Section Content -----*/
.accordion-section-content {
    width: 100%;
    padding: 15px;
    display: none;
}

.images-box {
    width: 500px;
    height: 500px;
}

.image {
    width: 230px;
    height: 230px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

.return-link {
    width: 186px;
    display: block;
    margin: 40px 0 0 40px;
}

.content-heading {
    margin: 0 0 0 40px;
}

.container-404 {
    height: 100%;
}

.not-found {
    position: relative;
    background: gainsboro;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 100px auto;
    vertical-align: middle;
}

.not-found-heading {
    position: absolute;
    top: 95px;
    left: 90px;
    font-family: RobotoBold, sans-serif;
    font-size: 130px;
    text-align: center;
    color: white;

}

.not-found-text {
    position: absolute;
    top: 250px;
    left: 30px;
    font-family: geometriamedium, sans-serif;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.not-found-link {
    position: absolute;
    top: 420px;
    left: 25px;
    font-family: geometriamedium, sans-serif;
    font-size: 25px;
    color: #330d2f;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

/* FEEDBACK */
.feedback-form {
    width: 100%;
    margin: 0 auto;
}

.feedback-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.feedback {
    background: #ececec;
    border: none;
    outline: none;
    padding: 1%;
    font-size: 18px;
    color: #aaaaaa;
}

.feedback-name {
    width: 99%;
    margin: 10px auto;
    height: 30px;
}

.feedback-text {
    width: 99%;
    margin: auto;
    height: 160px;
    resize: none;
}

.submit-button {
    width: 120px;
    height: 50px;
    margin-top: 5px;
    border: none;
    font-size: 18px;
    background: #ececec;
}

.post {
    width: 100%;
    margin: auto;
}

.post-date {
    font-size: 10px;
    color: gray;
}

.post-name {
    font-size: 15px;
    font-weight: bold;
}

@media screen and (min-width: 949px) {
    #menu-small {
        display: none !important;
    }

    .invisible {
        display: none;
    }
}

@media screen and (max-width: 949px) {
    .people-of-spectacle {
        margin-top: 80px;
    }

    .header-h {
        margin-top: 89px;
    }
}

@media screen and (max-width: 749px) {
    .header-h {
        max-width: 80%;
        /*text-align: center;*/
        /*margin: 89px auto;*/
    }
}

@media screen and (max-width: 480px) {
    .jp-play, .jp-pause {
        float: none;
    }

    .jp-title {
        width: 100%;
        padding: 4px 0 0 0;
    }

    .jp-current-time {
        margin-top: -70px;
    }
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
    filter: none;
    transition: all .7s;
    -webkit-filter: grayscale(0%);
}