
.gb-color-like-red {
    color: #ED8A8A;;
}

.common_top-heading {
    text-align: center;
    font-size: 26px;
}

.common_top-subheading {
    text-align: center;
    font-size: 18px;
    color: #464646;
}
.common_page-margin {
    margin-top: 130px;
}

