<!-- F O O T E R   S T A R T-->

<data-wrapper class='global-module-part-main' >

<footer class='footer'>
                 <div class="fe-row">
                 
                     <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-6 fe-text-center"> 

                         <div id="footer_address"> 
{{ mainPage['footer'][languages[language1]]['adress_footer'] }}              <br /> 
{{ mainPage['footer']['mail'] }} </div>
        
                     </div>
                     
                     <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-6 fe-text-center"> 

                         <div id="footer_phone">
                          {{ mainPage['settings']['phone_first'] }}
                          &nbsp 
                         {{ mainPage['settings']['phone_second'] }}
                         </div>
                     
                     </div>
                     
                     <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-12" style="overflow: hidden;">
                         
                             <ul class="fe-nav" id="footer_icon">
                             
                                 <li> 
                                 <a target="_blank" 
href="http://vk.com"> 
<img src="icon/img/vk.png"        alt="icon"> </a> </li>
                                 <li> 
                                 <a target="_blank" 
href="https://www.facebook.com/"> 
<img src="icon/img/facebook.png"  alt="icon"> </a> </li>
                                 <li>
                                  <a target="_blank"
href="https://www.instagram.com/"> 
<img src="icon/img/instagram.png" alt="icon"> </a> </li>
                                 <li>
                                  <a target="_blank"
href="https://www.youtube.com/"> 
<img src="icon/img/you-tube.png"  alt="icon"> </a> </li>
                             
                             <ul>
                        
                     
                     </div>
                 
                 </div>

 </footer>

</data-wrapper >
<!-- F O O T E R   E N D -->