			
			<!-- Menu -->
			
			
			<nav>
			
				<ul class="fe-nav fe-col-m-only" id="menu">

                    <li id="category-button" ng-repeat="item in menu">
  <p>
  <span class="menu_main-span"> {{ item.item.link_title }} </span>   <br /> 
  <span class="menu_sub-span"> {{ item.item.title }}  </span>
  </p>
  					</li>
	
				</ul>
				
				
				<ul class="fe-none" id="menu-small">


                    <li id="category-button" ng-repeat="item in menu">
  <p>
  <span class="menu_main-span"> {{ item.item.link_title }} </span>   <br /> 
  <span class="menu_sub-span"> {{ item.item.title }}  </span>
  </p>
  					</li>

				</ul>
			
				
					<ul id="category" class="fe-none">
					
						<li> <a href="index.html"> История       </a> </li>
						<li> <a href="index.html"> Новости       </a> </li>
						<li> <a href="index.html"> Сцена         </a> </li>
						<li> <a href="index.html"> Документы     </a> </li>
						<li> <a href="index.html"> Пресса        </a> </li>
						<li> <a href="index.html"> Награды       </a> </li>
						<li> <a href="index.html"> Партнеры      </a> </li>
						<li> <a href="index.html"> Вакансии      </a> </li>
						<li> <a href="index.html"> Книга отзывов </a> </li>
					
					</ul>
				
			
			</nav>