			
			<!-- Menu -->
			
			
			<nav>
			
				<ul class="fe-nav fe-col-m-only" id="menu">
				
					<li id="category-button">  <p> <span class="menu_main-span"> О доме        </span>   <br /> <span class="menu_sub-span"> ёнгын кол       </span>       </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Афиша         </span>   <br /> <span class="menu_sub-span"> ляххал          </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Новые дела    </span>   <br /> <span class="menu_sub-span"> лильпи вāрмальт </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Хозяева       </span>   <br /> <span class="menu_sub-span"> театрын мирт    </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Мтровоззрение </span>   <br /> <span class="menu_sub-span"> мир мӯтра       </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Библеотека    </span>   <br /> <span class="menu_sub-span"> ёнгын           </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Контакты      </span>   <br /> <span class="menu_sub-span"> рупитан мāнанл  </span> </a> </p> </li>
					<li id="menu_last-element"> <p> <a href="index.html"> <span class="menu_main-span"> Билеты  </a> </li>
					
				</ul>
				
				
				<ul class="fe-none" id="menu-small">
				
					<li> <p> <a href="index.html"> <span class="menu_main-span"> О доме        </span>   <br /> <span class="menu_sub-span"> ёнгын кол       </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Афиша         </span>   <br /> <span class="menu_sub-span"> ляххал          </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Новые дела    </span>   <br /> <span class="menu_sub-span"> лильпи вāрмальт </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Хозяева       </span>   <br /> <span class="menu_sub-span"> театрын мирт    </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Мтровоззрение </span>   <br /> <span class="menu_sub-span"> мир мӯтра       </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Библеотека    </span>   <br /> <span class="menu_sub-span"> ёнгын           </span> </a> </p> </li>
					<li> <p> <a href="index.html"> <span class="menu_main-span"> Контакты      </span>   <br /> <span class="menu_sub-span"> рупитан мāнанл  </span> </a> </p> </li>
					<li id="menu_last-element"> <p> <a href="#"> <span class="menu_main-span"> Билеты  </a> </li>
					
				</ul>
			
				
					<ul id="category" class="fe-none">
					
						<li> <a href="index.html"> История       </a> </li>
						<li> <a href="index.html"> Новости       </a> </li>
						<li> <a href="index.html"> Сцена         </a> </li>
						<li> <a href="index.html"> Документы     </a> </li>
						<li> <a href="index.html"> Пресса        </a> </li>
						<li> <a href="index.html"> Награды       </a> </li>
						<li> <a href="index.html"> Партнеры      </a> </li>
						<li> <a href="index.html"> Вакансии      </a> </li>
						<li> <a href="index.html"> Книга отзывов </a> </li>
					
					</ul>
				
			
			</nav>