
		<ng-include src="'views/main-loader.html'"></ng-include>

		<div id="fe-wrapper">
		
		<ng-include src="'views/main-header.html'"></ng-include>	
 
		<ng-include src="'views/main-menu.html'"></ng-include>	

		<ng-include src="'views/main-video.html'"></ng-include>	

		<ng-include src="'views/main-content.html'"></ng-include>	

		<ng-include src="'views/main-main.html'"></ng-include>	

		<ng-include src="'views/main-footer.html'"></ng-include>

		<ng-include src="'views/main-initfejs.html'"></ng-include>
		
		</div>


