
				<!-- Main -->
				
				
				 <div class="fe-row" id="main">
				 
					 <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
					 
						 <div id="main_event">
						 
							  <h4> <span class="title-big"> МАРТ </span> <br /> <span class="title-small"> тылысь </span> </h4>
							  
							  <ul id="main_event_elements">
							  
								 <li class="main_event_element">
								 
									 <div class="fe-row">
									 
										 <div class="fe-col-8">
										 
											 <div class="fe-row">
											 
												 <p class="fe-col-2" style="font-size: 14px;  text-align left;  padding-left: 20px;"> 1       </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> вторник </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> 0+      </p>  
											 
											 </div>
											 
											 <p class="main_event_elements_title"> <span class="title-big"> <a href="index.html"> Хипс-Випс </a> </span> <br /> <span class="title-small"> xxxxx </span> </p>
											 
											 <p class="main_event_elements_about"> Спектакль для детей. В рамках фестиваля “Дух огня” </p>
											 
										 
										 </div>
										 
										 <div class="fe-col-4">
										 
											 <div class="fe-row">
											 
												 <div class="fe-col-8">
												 
													 <p class="main_event_elements_time" > 10:00 </p> 
													 
													 <p class="main_event_elements_status" > премьера </p> 
													 
													 <p class="main_event_elements_address"> Дом Дружбы Народов Мира 14а  </p>
												 
												 </div>
												 
												 <div class="fe-col-4">
												 
													 <a href="#"> <img src="icon/img/buy.png" alt="icon"> </a>
												 
												 </div>
											 
											 </div>
										 
										 </div>
									 
									 </div>
								 
								 </li>
								 
								 <li class="main_event_element">
								 
									 <div class="fe-row">
									 
										 <div class="fe-col-8">
										 
											 <div class="fe-row">
											 
												 <p class="fe-col-2" style="font-size: 14px;  text-align left;  padding-left: 20px;"> 1       </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> вторник </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> 0+      </p>  
											 
											 </div>
											 
											 <p class="main_event_elements_title"> <span class="title-big"> <a href="index.html"> Хипс-Випс </a> </span> <br /> <span class="title-small"> xxxxx </span> </p>
											 
											 <p class="main_event_elements_about"> Спектакль для детей. В рамках фестиваля “Дух огня” </p>
											 
										 
										 </div>
										 
										 <div class="fe-col-4">
										 
											 <div class="fe-row">
											 
												 <div class="fe-col-8">
												 
													 <p class="main_event_elements_time" > 10:00 </p> 
													 
													 <p class="main_event_elements_status" > премьера </p> 
													 
													 <p class="main_event_elements_address"> Дом Дружбы Народов Мира 14а  </p>
												 
												 </div>
												 
												 <div class="fe-col-4">
												 
													 <a href="#"> <img src="icon/img/buy.png" alt="icon"> </a>
												 
												 </div>
											 
											 </div>
										 
										 </div>
									 
									 </div>
								 
								 </li>
								 
								 
								 <li class="main_event_element">
								 
									 <div class="fe-row">
									 
										 <div class="fe-col-8">
										 
											 <div class="fe-row">
											 
												 <p class="fe-col-2" style="font-size: 14px;  text-align left;  padding-left: 20px;"> 1       </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> вторник </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> 0+      </p>  
											 
											 </div>
											 
											 <p class="main_event_elements_title"> <span class="title-big"> <a href="index.html"> Хипс-Випс </a> </span> <br /> <span class="title-small"> xxxxx </span> </p>
											 
											 <p class="main_event_elements_about"> Спектакль для детей. В рамках фестиваля “Дух огня” </p>
											 
										 
										 </div>
										 
										 <div class="fe-col-4">
										 
											 <div class="fe-row">
											 
												 <div class="fe-col-8">
												 
													 <p class="main_event_elements_time" > 10:00 </p> 
													 
													 <p class="main_event_elements_status" > премьера </p> 
													 
													 <p class="main_event_elements_address"> Дом Дружбы Народов Мира 14а  </p>
												 
												 </div>
												 
												 <div class="fe-col-4">
												 
													 <a href="#"> <img src="icon/img/buy.png" alt="icon"> </a>
												 
												 </div>
											 
											 </div>
										 
										 </div>
									 
									 </div>
								 
								 </li>
								 
								 
								 <li class="main_event_element">
								 
									 <div class="fe-row">
									 
										 <div class="fe-col-8">
										 
											 <div class="fe-row">
											 
												 <p class="fe-col-2" style="font-size: 14px;  text-align left;  padding-left: 20px;"> 1       </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> вторник </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> 0+      </p>  
											 
											 </div>
											 
											 <p class="main_event_elements_title"> <span class="title-big"> <a href="index.html"> Хипс-Випс </a> </span> <br /> <span class="title-small"> xxxxx </span> </p>
											 
											 <p class="main_event_elements_about"> Спектакль для детей. В рамках фестиваля “Дух огня” </p>
											 
										 
										 </div>
										 
										 <div class="fe-col-4">
										 
											 <div class="fe-row">
											 
												 <div class="fe-col-8">
												 
													 <p class="main_event_elements_time" > 10:00 </p> 
													 
													 <p class="main_event_elements_status" > премьера </p> 
													 
													 <p class="main_event_elements_address"> Дом Дружбы Народов Мира 14а  </p>
												 
												 </div>
												 
												 <div class="fe-col-4">
												 
													 <a href="#"> <img src="icon/img/buy.png" alt="icon"> </a>
												 
												 </div>
											 
											 </div>
										 
										 </div>
									 
									 </div>
								 
								 </li>
								 
								 
								 <li class="main_event_element">
								 
									 <div class="fe-row">
									 
										 <div class="fe-col-8">
										 
											 <div class="fe-row">
											 
												 <p class="fe-col-2" style="font-size: 14px;  text-align left;  padding-left: 20px;"> 1       </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> вторник </p>
												 <p class="fe-col-4" style="font-size: 14px;  text-align left;"> 0+      </p>  
											 
											 </div>
											 
											 <p class="main_event_elements_title"> <span class="title-big"> <a href="index.html"> Хипс-Випс </a> </span> <br /> <span class="title-small"> xxxxx </span> </p>
											 
											 <p class="main_event_elements_about"> Спектакль для детей. В рамках фестиваля “Дух огня” </p>
											 
										 
										 </div>
										 
										 <div class="fe-col-4">
										 
											 <div class="fe-row">
											 
												 <div class="fe-col-8">
												 
													 <p class="main_event_elements_time" > 10:00 </p> 
													 
													 <p class="main_event_elements_status" > премьера </p> 
													 
													 <p class="main_event_elements_address"> Дом Дружбы Народов Мира 14а  </p>
												 
												 </div>
												 
												 <div class="fe-col-4">
												 
													 <a href="#"> <img src="icon/img/buy.png" alt="icon"> </a>
												 
												 </div>
											 
											 </div>
										 
										 </div>
									 
									 </div>
								 
								 </li>
								 
							  </ul>
							  
							   <p class="main_more" style="margin-left: 20px;">  ПРОСМОТРЕТЬ ВСЮ АФИШУ  <img src="icon/img/event.png" style="position:relative; top: 8px;" /> </p>
						  
						  </div>
					 
					 </div>
					 
					 
					 
					 
					 <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
					 
					         <div id="main_news">
						 
								 <h4> <span class="title-big"> НОВОСТИ </span> <br /> <span class="title-small"> йәӆәп </span> </h4>
								  
								 <ul id="main_news_elements">
								  
									 <li class="main_news_element">
									 
										 <div class="fe-row">
										 
											 <div class="fe-col-6">
											 
												 <div class="main_news_elements_image"> <img class="fe-img" src="img/image-3.jpg" alt="image" /> </div>
											 
											 </div>
											 
											 <div class="fe-col-6">
											 
												 <p class="main_news_elements_title"> <span class="title-big"> Закрытие сезона </span> </p>
												 
												 <p class="main_news_elements_date"> 25/15/2016 </p>
												  
												 <p class="main_news_elements_about"> 7 июля «Театр обско-угорских народов - Солнце» закрывает XIII театральный сезон. </p>
												 
												 <p class="main_news_elements_detalis"> <a href="#"> Подробнее > </a> </p>
											 
											 </div>
										 
										 </div>
									 
									 </li>
									 
									 
									 <li class="main_news_element">
									 
										 <div class="fe-row">
										 
											 <div class="fe-col-6">
											 
												 <div class="main_news_elements_image"> <img class="fe-img" src="img/image-3.jpg"> </div>
											 
											 </div>
											 
											 <div class="fe-col-6">
											 
												 <p class="main_news_elements_title"> <span class="title-big"> Закрытие сезона </span> </p>
												 
												 <p class="main_news_elements_date"> 25/15/2016 </p>
												  
												 <p class="main_news_elements_about"> 7 июля «Театр обско-угорских народов - Солнце» закрывает XIII театральный сезон. </p>
												 
												 <p class="main_news_elements_detalis"> <a href="#"> Подробнее > </a> </p>
											 
											 </div>
										 
										 </div>
									 
									 </li>
									 
									 <li class="main_news_element">
									 
										 <div class="fe-row">
										 
											 <div class="fe-col-6">
											 
												 <div class="main_news_elements_image"> <img class="fe-img" src="img/image-3.jpg"> </div>
											 
											 </div>
											 
											 <div class="fe-col-6">
											 
												 <p class="main_news_elements_title"> <span class="title-big"> Закрытие сезона </span> </p>
												 
												 <p class="main_news_elements_date"> 25/15/2016 </p>
												  
												 <p class="main_news_elements_about"> 7 июля «Театр обско-угорских народов - Солнце» закрывает XIII театральный сезон. </p>
												 
												 <p class="main_news_elements_detalis"> <a href="#"> Подробнее > </a> </p>
											 
											 </div>
										 
										 </div>
									 
									 </li>
								  
								 </ul>
								 
								  <p class="main_more" style="margin-left: 20px;"> ДРУГИЕ НОВОСТИ ТЕАТРА <img src="icon/img/news.png" style="position:relative; top: 8px;" /> </p>
						  
						  </div>
					
					 </div>
					
				 
				 </div>
				
			</div>