			
			
			<!-- Content -->
			
			
			<div id="content">
			
			
				<!-- Nearest-event -->
				
			
				<div id="nearest-event">
				
					<div id="nearest-event_h"> <h3> <span class="title-big"> БЛИЖАЙШИЕ СОБЫТИЯ </span> <br / > <span class="title-small"> тащӑңшӑк ёх па </span> </h3> </div>
					
					<div class="fe-row">
					
						<div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
						
							<div class="nearest-event_left">
							
								<div class="nearest-event_left_text">
							
								     <p class="nearest-event_date"> <span class="title-big"> 27/ 02/ 2016 <span> </p>
									
									 <p class="nearest-event_title"> <span class="title-big"> <a href="index.html"> Дети неба </a> </span> <br /> <span class="title-small"> эвӑт </span> </p> 
									 
									 <p class="nearest-event_about"> Описательный текст о спектакле 128 симв. 3 строки. </p>
									 
									 <p class="main_event_elements_status" style="padding-left:66px; margin-top: 10px;" > <a href="index.html"> премьера </a> </p> 
								 
								</div>
								 
								<div class="nearest-event_left_image"> <img class="fe-img" src="img/image-2.jpg" alt="photo" /> </div>
							
							</div>
						
						</div>
						
						<div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
						
							<div class="nearest-event_right">
							
								<div class="nearest-event_right_text">
							
								     <p class="nearest-event_date"> <span class="title-big"> 27/ 02/ 2016 </span> </p>
									
									 <p class="nearest-event_title"> <span class="title-big"> <a href="index.html"> Любовная диатриба мужчине в кресле </a> <span> <br /> <span class="title-small"> щи тумпи щӑта  </span> </p> 
									 
									 <p class="nearest-event_about"> Описательный текст о спектакле 128 симв. 3 строки. </p>
									 
									 <p class="main_event_elements_status" style="padding-left:25px; margin-top: 10px;" > <a href="index.html"> премьера </a> </p> 
									 
									 
								 
								</div>
								 
								<div class="nearest-event_right_image"> <img class="fe-img" src="img/image-1.jpg" alt="photo" /> </div>
							
							</div>
						
						</div>
					
					</div>
				
				</div>
				
				