		 
			
			 <!-- Footer -->
			 
			 
			 <footer> 

				 <div class="fe-row">
				 
					 <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-6 fe-text-center"> 

					     <div id="footer_address"> ул. Мира 14 а,  Дом Дружбы народов <br /> mail@toun.ru </div>
		
					 </div>
					 
					 <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-6 fe-text-center"> 

					     <div id="footer_phone"> +7(3467) 33-54-61 &nbsp +7(3467) 85-25-61 </div>
					 
					 </div>
					 
					 <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-12" style="overflow: hidden;">
						 
							 <ul class="fe-nav" id="footer_icon">
							 
								 <li> <a href="#"> <img src="icon/img/vk.png"        alt="icon"> </a> </li>
								 <li> <a href="#"> <img src="icon/img/facebook.png"  alt="icon"> </a> </li>
								 <li> <a href="#"> <img src="icon/img/instagram.png" alt="icon"> </a> </li>
								 <li> <a href="#"> <img src="icon/img/you-tube.png"  alt="icon"> </a> </li>
							 
							 <ul>
						
					 
					 </div>
				 
				 </div>

			 </footer>
			