		
			<!-- Header -->
			
		
			<header>
			
				<div class="fe-row">
				
					<div class="fe-col-3 fe-col-m-only">
					
						<div id="header_left" >
<p ng-bind-html="replaceNtoBR(mainPage['header'][languages[language1]]['adress_head'])"></p>

							<p id="header_left_scheme">
{{ mainPage['header'][languages[language1]]['title_map'] }}
							 <img src="icon/img/location.png" alt="icon" style="position: relative; top: 4px; left: 8px;" /> </p>
						
						</div>
					
					</div>
					
					<div class="fe-col-6 fe-col-m-only">
					
						<div id="header_center">
						
							<p id="header_center_title" class="fe-col-m-only"> 
{{ mainPage['header'][languages[language1]]['slogan_top'] | uppercase}}  </p>
							
							<div id="header_center_logo"> <a href="index.html"> <img src="/content/storage/logo.png"> </a> </div>
						
						</div>
					
					</div>
					
					<div class="fe-col-3 fe-col-m-only">
					
						<div id="header_right">
						
							<p id="header_right_cecutient"> <a href="#"> 
{{ mainPage['header'][languages[language1]]['eyesight'] | firstUpperCase }}
<img src="icon/img/glasses.png" alt="icon" style="position: relative; top: 5px;" /> </a> </p>
						
{{ mainPage['settings']['phone_first'] }}<br />
{{ mainPage['settings']['phone_second'] }}
							 
							 <div id="language">
							 
								 <a href="#"> <div 								 
								 ng-click="changelanguage('ru', 1)"
								 class="{{ language1 == 'ru' ? 'language_element active-language': 'language_element' }}" > 
								 РУС </div> </a>
								 <a href="#"> <div 								 
								 ng-click="changelanguage('en', 1)"
								 class="{{ language1 == 'en' ? 'language_element active-language': 'language_element' }}"> 
								 ENG </div> </a>
								 <a href="#"> <div 
								 ng-click="changelanguage('kh', 2)"
								 class="{{ language2 == 'kh' ? 'language_element active-language': 'language_element' }}"> 
								 Хнт </div> </a>
								 <a href="#"> <div 
								 ng-click="changelanguage('mns', 2)"
								 class="{{ language2 == 'mns' ? 'language_element active-language': 'language_element' }}"> 
								 Мнс </div> </a>
							 
							 </div>
 						
						</div> 
					
					</div>
				
				</div>
				
				<div id="header_center_logo-mobile" class="fe-none"> <a href="index.html"> <img class="fe-img" src="icon/img/logo.jpg"> </a> </div>
				
				<div id="header_logo">
				
					 <div id="header_logo_image"> <a href="index.html"> <img src="icon/img/icon-logo.png" alt="logo" /> </a> </div> 
				
				</div>
				
				<button class="fe-none" id="small-menu-buttton"> </button>
			
			</header>