		
			<!-- Header -->
			
		
			<header>
			
				<div class="fe-row">
				
					<div class="fe-col-3 fe-col-m-only">
					
						<div id="header_left">
						
							Ханты-Мансийск <br / > Мира 14 а, <br /> Дом Дужбы народов 
							
							<p id="header_left_scheme"> Схема проезда <img src="icon/img/location.png" alt="icon" style="position: relative; top: 4px; left: 8px;" /> </p>
						
						</div>
					
					</div>
					
					<div class="fe-col-6 fe-col-m-only">
					
						<div id="header_center">
						
							<p id="header_center_title" class="fe-col-m-only"> ДЕПАРТАМЕНТ КУЛЬТУРЫ ХАНТЫ-МАНСИЙСКОГО АВТОНОМОГО ОКРУГА-ЮГРЫ </p>
							
							<div id="header_center_logo"> <a href="index.html"> <img src="icon/img/logo.jpg"> </a> </div>
						
						</div>
					
					</div>
					
					<div class="fe-col-3 fe-col-m-only">
					
						<div id="header_right">
						
							<p id="header_right_cecutient"> <a href="#"> Слабовидящим  <img src="icon/img/glasses.png" alt="icon" style="position: relative; top: 5px;" /> </a> </p>
						
							
							 +7(3467) 33-54-61<br />+7(3467) 33-54-61
							 
							 <div id="language">
							 
								 <a href="index.html"> <div class="language_element active-language"> РУС </div> </a>
								 <a href="index.html"> <div class="language_element"> ENG </div> </a>
								 <a href="index.html"> <div class="language_element"> Хнт </div> </a>
								 <a href="index.html"> <div class="language_element active-language"> Мнс </div> </a>
							 
							 </div>
 						
						</div> 
					
					</div>
				
				</div>
				
				<div id="header_center_logo-mobile" class="fe-none"> <a href="index.html"> <img class="fe-img" src="icon/img/logo.jpg"> </a> </div>
				
				<div id="header_logo">
				
					 <div id="header_logo_image"> <a href="index.html"> <img src="icon/img/icon-logo.png" alt="logo" /> </a> </div> 
				
				</div>
				
				<button class="fe-none" id="small-menu-buttton"> </button>
			
			</header>