<!-- R E P E R T U A R   G A L L E R Y   S T A R T -->
<div class="fe-row common_page-margin">
    <div class="fe-col-12">
        <div class="gallery_heading-box">
            <div class="common_top-heading">Репертуар</div>
            <div class="common_top-subheading">ёнгын вāрмаляныл</div>
        </div>
        <div class="gallery">
            <div class="gallery_filters">
               <p class="gallery_menu_paragraph"><a class="active gallery_year-filter" data-filter="2007" href="#">2007</a></p>
                <p class="gallery_menu_paragraph filters_active"><a class="gallery_year-filter" data-filter="2008" href="#">2008</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2009" href="#">2009</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2010" href="#">2010</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2011" href="#">2011</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2012" href="#">2012</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2013" href="#">2013</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2014" href="#">2014</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2015" href="#">2015</a></p>
                <p class="gallery_menu_paragraph"><a class="gallery_year-filter" data-filter="2016" href="#">2016</a></p>
            </div>
            <div class="fe-row gallery_afisha-grid">
                <div class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a href=""><img class="gallery_afisha-image" src="/img/black_song.jpg" alt=""></a></div></div>
                <div class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a href=""><img class="gallery_afisha-image" src="/img/all_in_all.jpg" alt=""></a></div></div>
                <div class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a href=""><img class="gallery_afisha-image" src="/img/sky_children.jpg" alt=""></a></div></div>
                <div class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a href=""><img class="gallery_afisha-image" src="/img/to_love.jpg" alt=""></a></div></div>
                <div class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a href=""><img class="gallery_afisha-image" src="/img/to_love.jpg" alt=""></a></div></div>
                <div class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a href=""><img class="gallery_afisha-image" src="/img/sky_children.jpg" alt=""></a></div></div>
                <div class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a href=""><img class="gallery_afisha-image" src="/img/all_in_all.jpg" alt=""></a></div></div>
                <div class="fe-col-n-12 fe-col-3 gallery_afisha-box"><div class="gallery_afisha"><a href=""><img class="gallery_afisha-image" src="/img/black_song.jpg" alt=""></a></div></div>
            </div>
        </div>
    </div>
</div>
<!-- R E P E R T U A R   G A L L E R Y   E N D -->
