
    <!-- M E N U -->
    
    <nav class="menu_main" id="menuTop">
          <ul class="fe-nav fe-col-m-only menu_list" id="menu_main">
              <li class="menu_item">
                <p class="menu_paragraph">
                  <a href="index.html">
                    <span class="menu_main-span">О доме</span><br/>
                    <span class="menu_sub-span">ёнгын кол</span>
                  </a>
                </p>
                <ul class="submenu">
                  <li class="submenu_item"><a href="index.html"> История </a></li>
                  <li class="submenu_item"><a href="index.html"> Новости </a></li>
                  <li class="submenu_item"><a href="index.html"> Сцена </a></li>
                  <li class="submenu_item"><a href="index.html"> Документы </a></li>
                  <li class="submenu_item"><a href="index.html"> Пресса </a></li>
                  <li class="submenu_item"><a href="index.html"> Награды </a></li>
                  <li class="submenu_item"><a href="index.html"> Партнеры </a></li>
                  <li class="submenu_item"><a href="index.html"> Вакансии </a></li>
                  <li class="submenu_item"><a href="index.html"> Книга отзывов </a></li>
                </ul>
              </li>
              <li class="menu_item">
                <p class="menu_paragraph">
                  <a href="index.html"><span class="menu_main-span">Афиша</span>
                    <br/>
                    <span class="menu_sub-span">ляххал</span>
                  </a>
                </p>
                <ul class="submenu">
                  <li class="submenu_item"><a href="index.html"> Афиша.1 </a></li>
                  <li class="submenu_item"><a href="index.html"> Афиша.2 </a></li>
                  <li class="submenu_item"><a href="index.html"> Афиша.3 </a></li>
                  <li class="submenu_item"><a href="index.html"> Афиша.4 </a></li>
                  <li class="submenu_item"><a href="index.html"> Афиша.5 </a></li>
                  <li class="submenu_item"><a href="index.html"> Афиша.6 </a></li>
                </ul>
              </li>
              <li class="menu_item">
                <p class="menu_paragraph">
                  <a href="index.html">
                    <span class="menu_main-span">Новые дела</span>
                    <br/>
                    <span class="menu_sub-span">лильпи вāрмальт</span>
                  </a>
                </p>
                <ul class="submenu">
                  <li class="submenu_item"><a href="index.html"> Новые дела.1 </a></li>
                  <li class="submenu_item"><a href="index.html"> Новые дела.2 </a></li>
                  <li class="submenu_item"><a href="index.html"> Новые дела.3 </a></li>
                  <li class="submenu_item"><a href="index.html"> Новые дела.4 </a></li>
                  <li class="submenu_item"><a href="index.html"> Новые дела.5 </a></li>
                  <li class="submenu_item"><a href="index.html"> Новые дела.6 </a></li>
                </ul>
              </li>
              <li class="menu_item">
                <p class="menu_paragraph">
                  <a href="index.html">
                    <span class="menu_main-span">Хозяева</span>
                    <br/>
                    <span class="menu_sub-span">театрын мирт</span>
                  </a>
                </p>
                <ul class="submenu">
                  <li class="submenu_item"><a href="index.html"> Хозяева.1 </a></li>
                  <li class="submenu_item"><a href="index.html"> Хозяева.2 </a></li>
                  <li class="submenu_item"><a href="index.html"> Хозяева.3 </a></li>
                  <li class="submenu_item"><a href="index.html"> Хозяева.4 </a></li>
                  <li class="submenu_item"><a href="index.html"> Хозяева.5 </a></li>
                </ul>
              </li>
              <li class="menu_item">
                <p class="menu_paragraph">
                  <a href="index.html">
                    <span class="menu_main-span"> Мировоззрение </span>
                    <br/>
                    <span class="menu_sub-span"> мир мӯтра </span>
                  </a>
                </p>
                <ul class="submenu">
                  <li class="submenu_item"><a href="index.html"> Мировоззрение.1 </a></li>
                  <li class="submenu_item"><a href="index.html"> Мировоззрение.2 </a></li>
                  <li class="submenu_item"><a href="index.html"> Мировоззрение.3 </a></li>
                  <li class="submenu_item"><a href="index.html"> Мировоззрение.4 </a></li>
                  <li class="submenu_item"><a href="index.html"> Мировоззрение.5 </a></li>
                  <li class="submenu_item"><a href="index.html"> Мировоззрение.6 </a></li>
                  <li class="submenu_item"><a href="index.html"> Мировоззрение.7 </a></li>
                </ul>
              </li>
              <li class="menu_item">
                <p class="menu_paragraph">
                  <a href="index.html">
                    <span class="menu_main-span"> Библиотека </span>
                    <br/>
                    <span class="menu_sub-span"> ёнгын </span>
                  </a>
                </p>
                <ul class="submenu">
                  <li class="submenu_item"><a href="index.html"> Библиотека.1 </a></li>
                  <li class="submenu_item"><a href="index.html"> Библиотека.2 </a></li>
                  <li class="submenu_item"><a href="index.html"> Библиотека.3 </a></li>
                  <li class="submenu_item"><a href="index.html"> Библиотека.4 </a></li>
                  <li class="submenu_item"><a href="index.html"> Библиотека.5 </a></li>
                  <li class="submenu_item"><a href="index.html"> Библиотека.6 </a></li>
                  <li class="submenu_item"><a href="index.html"> Библиотека.7 </a></li>
                  <li class="submenu_item"><a href="index.html"> Библиотека.8 </a></li>
                </ul>
              </li>
              <li class="menu_item">
                <p class="menu_paragraph">
                  <a href="index.html">
                    <span class="menu_main-span"> Контакты </span>
                    <br/>
                    <span class="menu_sub-span"> рупитан мāнанл </span>
                  </a>
                </p>
                <ul class="submenu">
                  <li class="submenu_item"><a href="index.html"> Контакты.1 </a></li>
                  <li class="submenu_item"><a href="index.html"> Контакты.2 </a></li>
                  <li class="submenu_item"><a href="index.html"> Контакты.3 </a></li>
                  <li class="submenu_item"><a href="index.html"> Контакты.4 </a></li>
                  <li class="submenu_item"><a href="index.html"> Контакты.5 </a></li>
                </ul>
              </li>
              <li class="menu_item menu_last-element">
                <p class="menu_paragraph"><a href="index.html">
                  <span class="menu_main-span"> Билеты </span>
                  </a>
                </p>
                <ul class="submenu">
                  <li class="submenu_item"><a href="index.html"> Билеты.1 </a></li>
                  <li class="submenu_item"><a href="index.html"> Билеты.2 </a></li>
                  <li class="submenu_item"><a href="index.html"> Билеты.3 </a></li>
                  <li class="submenu_item"><a href="index.html"> Билеты.4 </a></li>
                  <li class="submenu_item"><a href="index.html"> Билеты.5 </a></li>
                  <li class="submenu_item"><a href="index.html"> Билеты.6 </a></li>
                  <li class="submenu_item"><a href="index.html"> Билеты.7 </a></li>
                </ul>
              </li>
          </ul>
      <!-- M O B I L E  M E N U -->
      <ul class="fe-none accordion" id="menu-small">
        <li class="accordion-section">
          <p class="menu-small_paragraph">
            <a class="accordion-section-title menu_main-span" href="#menu-1">О доме</a>
          </p>
          <div id="menu-1" class="accordion-section-content">

            <ul>
              <li><a href="index.html"> История </a></li>
              <li><a href="index.html"> Новости </a></li>
              <li><a href="index.html"> Сцена </a></li>
              <li><a href="index.html"> Документы </a></li>
              <li><a href="index.html"> Пресса </a></li>
              <li><a href="index.html"> Награды </a></li>
              <li><a href="index.html"> Партнеры </a></li>
              <li><a href="index.html"> Вакансии </a></li>
              <li><a href="index.html"> Книга отзывов </a></li>
            </ul>

          </div>
        </li>

        <li class="accordion-section">
          <p class="menu-small_paragraph">
            <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-2">Афиша</a>
          </p>
          <div id="menu-2" class="accordion-section-content">

            <ul>
              <li class="submenu-small_item"><a href="index.html"> Афиша.1 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Афиша.2 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Афиша.3 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Афиша.4 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Афиша.5 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Афиша.6 </a></li>
            </ul>

          </div>
        </li>

        <li class="accordion-section">
          <p class="menu-small_paragraph">
            <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-3">Новые дела</a>
          </p>
          <div id="menu-3" class="accordion-section-content">

            <ul>
              <li class="submenu-small_item"><a href="index.html"> Новые дела.1 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Новые дела.2 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Новые дела.3 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Новые дела.4 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Новые дела.5 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Новые дела.6 </a></li>
            </ul>

          </div>
        </li>

        <li class="accordion-section">
          <p class="menu-small_paragraph">
            <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-4">Хозяева</a>
          </p>
          <div id="menu-4" class="accordion-section-content">

            <ul>
              <li class="submenu-small_item"><a href="index.html"> Хозяева.1 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Хозяева.2 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Хозяева.3 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Хозяева.4 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Хозяева.5 </a></li>
            </ul>

          </div>
        </li>

        <li class="accordion-section">
          <p class="menu-small_paragraph">
            <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-5">Мировоззрение</a>
          </p>
          <div id="menu-5" class="accordion-section-content">

            <ul>
              <li class="submenu-small_item"><a href="index.html"> Мировоззрение.1 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Мировоззрение.2 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Мировоззрение.3 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Мировоззрение.4 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Мировоззрение.5 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Мировоззрение.6 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Мировоззрение.7 </a></li>
            </ul>

          </div>
        </li>

        <li class="accordion-section">
          <p class="menu-small_paragraph">
            <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-6">Библиотека</a>
          </p>
          <div id="menu-6" class="accordion-section-content">

            <ul>
              <li class="submenu-small_item"><a href="index.html"> Библиотека.1 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Библиотека.2 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Библиотека.3 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Библиотека.4 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Библиотека.5 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Библиотека.6 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Библиотека.7 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Библиотека.8 </a></li>
            </ul>

          </div>
        </li>

        <li class="accordion-section">
          <p class="menu-small_paragraph">
            <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-7">Контакты</a>
          </p>
          <div id="menu-7" class="accordion-section-content">

            <ul>
              <li class="submenu-small_item"><a href="index.html"> Контакты.1 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Контакты.2 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Контакты.3 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Контакты.4 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Контакты.5 </a></li>
            </ul>

          </div>
        </li>

        <li class="menu_last-element accordion-section">
          <p class="menu-small_paragraph">
            <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-8">Билеты</a>
          </p>
          <div id="menu-8" class="accordion-section-content">

            <ul>
              <li class="submenu-small_item"><a href="index.html"> Билеты.1 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Билеты.2 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Билеты.3 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Билеты.4 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Билеты.5 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Билеты.6 </a></li>
              <li class="submenu-small_item"><a href="index.html"> Билеты.7 </a></li>
            </ul>

          </div>
        </li>
      </ul>

          <button class="fe-none" id="small-menu-buttton"></button>
      </nav>

			
			<!-- Menu -->
			
			
			<nav>
			
				<ul class="fe-nav fe-col-m-only" id="menu">

<data-repeat ng-repeat-start="item in mainPage['menu']" >
</data-repeat>
                <li data-field_link="{{item['field_link']['und'][0]['value']}}"
                id="{{ $first ? 'category-button' : 
                ( $last ? 'menu_last-element' : 'none' )
                }}"
                >
  <p>
  <span class="menu_main-span"> 
  {{ item[languages[language1]]['und'][0]['value'] }} </span>   <br /> 
  <span class="menu_sub-span"> 
  {{ item[languages[language2]]['und'][0]['value'] }}  </span>
  </p>
  				</li>
  	<data-submenu	ng-if="item['children']" >

<data-repeat-submenu ng-repeat-start="subitem in item['children']" >
</data-repeat-submenu>
  		<li class="fe-none category-small" 
                      > 
  	<a href="#"> {{ subitem[languages[language1]]['und'][0]['value']}}      
  		</a> </li>
<data-repeat-submenu  ng-repeat-end >
</data-repeat-submenu>

  	</data-submenu>

<data-repeat  ng-repeat-end >
</data-repeat>
				</ul>
				
				
				<ul class="fe-none" id="menu-small">

<data-repeat ng-repeat-start="item in mainPage['menu']" >
</data-repeat>
                <li data-field_link="{{item['field_link']['und'][0]['value']}}"
                id="{{ $first ? 'category-button' : 
                ( $last ? 'menu_last-element' : 'none' )
                }}"
                     >
  <p>
  <span class="menu_main-span"> 
  {{ item[languages[language1]]['und'][0]['value'] }} </span>   <br /> 
  <span class="menu_sub-span"> 
  {{ item[languages[language2]]['und'][0]['value'] }}  </span>
  </p>
  				</li>
  	<data-submenu	ng-if="item['children']" >

<data-repeat-submenu ng-repeat-start="subitem in item['children']" >
</data-repeat-submenu>
  		<li class="fe-none category-small"> 
  	<a href="#"> {{ subitem[languages[language1]]['und'][0]['value']}}      
  		</a> </li>
<data-repeat-submenu  ng-repeat-end >
</data-repeat-submenu>

  	</data-submenu>

<data-repeat  ng-repeat-end >
</data-repeat>

				</ul>			
			
			</nav>