			
			<!-- Menu -->
			
			
			<nav>
			
				<ul class="fe-nav fe-col-m-only" id="menu">

<data-repeat ng-repeat-start="item in mainPage['menu']" >
</data-repeat>
                <li data-field_link="{{item['field_link']['und'][0]['value']}}"
                id="{{ $first ? 'category-button' : 
                ( $last ? 'menu_last-element' : 'none' )
                }}"
                >
  <p>
  <span class="menu_main-span"> 
  {{ item[languages[language1]]['und'][0]['value'] }} </span>   <br /> 
  <span class="menu_sub-span"> 
  {{ item[languages[language2]]['und'][0]['value'] }}  </span>
  </p>
  				</li>
  	<data-submenu	ng-if="item['children']" >

<data-repeat-submenu ng-repeat-start="subitem in item['children']" >
</data-repeat-submenu>
  		<li class="fe-none category-small" 
                      > 
  	<a href="#"> {{ subitem[languages[language1]]['und'][0]['value']}}      
  		</a> </li>
<data-repeat-submenu  ng-repeat-end >
</data-repeat-submenu>

  	</data-submenu>

<data-repeat  ng-repeat-end >
</data-repeat>
				</ul>
				
				
				<ul class="fe-none" id="menu-small">

<data-repeat ng-repeat-start="item in mainPage['menu']" >
</data-repeat>
                <li data-field_link="{{item['field_link']['und'][0]['value']}}"
                id="{{ $first ? 'category-button' : 
                ( $last ? 'menu_last-element' : 'none' )
                }}"
                     >
  <p>
  <span class="menu_main-span"> 
  {{ item[languages[language1]]['und'][0]['value'] }} </span>   <br /> 
  <span class="menu_sub-span"> 
  {{ item[languages[language2]]['und'][0]['value'] }}  </span>
  </p>
  				</li>
  	<data-submenu	ng-if="item['children']" >

<data-repeat-submenu ng-repeat-start="subitem in item['children']" >
</data-repeat-submenu>
  		<li class="fe-none category-small"> 
  	<a href="#"> {{ subitem[languages[language1]]['und'][0]['value']}}      
  		</a> </li>
<data-repeat-submenu  ng-repeat-end >
</data-repeat-submenu>

  	</data-submenu>

<data-repeat  ng-repeat-end >
</data-repeat>

				</ul>			
			
			</nav>