
			<!-- Video -->
			
			
			<div id="video">
			
				<video autoplay loop>
				
					<source 
					src="{{	mainPage['lenta']['video_lenta_mp4'] }}" 
					/>
					
				</video>
				
				<div class="fe-none" id="video-image">
				
					 <img class="fe-img" 
					 src="{{ mainPage['lenta']['video_lenta_jpg'] }}" 
					 alt="people" />
				
				</div>
			
			</div>
			
			
			<script type="text/javascript">
			
				if(screen.width < 1000)
				{
				
					var video      = fe.g("t","video");
					var videoImage = fe.g("i","video-image");
					
					video[0].style.display   = "none";
					videoImage.style.display = "block";
				
				}
			
			</script>