
    <button ng-click="routeGoToView('/perfomance')">Go To '/perfomance'</button>
    <button ng-click="routeGoToView('/')">Go To '/'</button>
    <button ng-click="routeGoToView('/test')">Go To test</button>
    <div ng-click='test(debuger)'>DEBUG</div>
    

		<div id="loader" name='main-loader' >
		
			 <img src="icon/img/loader2.gif" alt="loader" />
		
		</div>

		<div id="fe-wrapper" ng-cloak >
		<data-div id='main_page'>
		
		<ng-include src="'views/main/main-header.html'"></ng-include>	
 
		<ng-include src="'views/main/main-menu.html'"></ng-include>	

		<ng-include src="'views/main/main-video.html'"></ng-include>	

		<ng-include src="'views/main/main-content.html'"></ng-include>	

		<ng-include src="'views/main/main-main.html'"></ng-include>	

		<ng-include src="'views/main/main-footer.html'"></ng-include>

		<ng-include src="'views/main/main-lazyload.html'"></ng-include>

		</data-div >
		</div>


