

        <nav id="menuTop">

            <ul class="fe-nav fe-col-m-only" id="menu">

                <li class="menu-logo">
                    <a href="index.html"><img src="icon/img/teatr-logo-small-white.png" alt="" /></a>
                </li>
                <li id="category-button">
                    <p class="inverse-arrows"><span class="menu_main-span"> О доме        </span>
                        <br/>
                        <span class="menu_sub-span"> ёнгын кол       </span></p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Афиша         </span>
                            <br/> <span class="menu_sub-span"> ляххал          </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Новые дела    </span>
                            <br/> <span class="menu_sub-span"> лильпи вāрмальт </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Хозяева       </span>
                            <br/> <span class="menu_sub-span"> театрын мирт    </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Мировоззрение </span>
                            <br/> <span class="menu_sub-span"> мир мӯтра       </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Библиотека    </span>
                            <br/> <span class="menu_sub-span"> ёнгын           </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Контакты      </span>
                            <br/> <span class="menu_sub-span"> рупитан мāнанл  </span> </a>
                    </p>
                </li>
                <li id="menu_last-element">
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Билеты
            </a></li>


        </ul>

        <ul class="fe-none accordion" id="menu-small">
            <li class="accordion-section">
                <p class="about-p">
                    <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-1"> О доме </a>
                </p>
                <div id="menu-1" class="accordion-section-content">

                    <ul>
                        <li><a href="index.html"> История </a></li>
                        <li><a href="index.html"> Новости </a></li>
                        <li><a href="index.html"> Сцена </a></li>
                        <li><a href="index.html"> Документы </a></li>
                        <li><a href="index.html"> Пресса </a></li>
                        <li><a href="index.html"> Награды </a></li>
                        <li><a href="index.html"> Партнеры </a></li>
                        <li><a href="index.html"> Вакансии </a></li>
                        <li><a href="index.html"> Книга отзывов </a></li>
                    </ul>

                </div>
            </li>


            <li><p class="about-p"><a href="index.html"> <span class="menu_main-span"> Афиша         </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Новые дела    </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Хозяева       </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Мировоззрение </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Библиотека    </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Контакты      </span></a>
                    </p>
                </li>
                <li id="menu_last-element">
                    <p class="about-p">
                        <a href="#"> <span class="menu_main-span"> Билеты </a></li>

        </ul>

        <ul id="category" class="fe-none">

            <li><a href="index.html"> История </a></li>
            <li><a href="index.html"> Новости </a></li>
            <li><a href="index.html"> Сцена </a></li>
            <li><a href="index.html"> Документы </a></li>
            <li><a href="index.html"> Пресса </a></li>
            <li><a href="index.html"> Награды </a></li>
            <li><a href="index.html"> Партнеры </a></li>
            <li><a href="index.html"> Вакансии </a></li>
            <li><a href="index.html"> Книга отзывов </a></li>

        </ul>

        <button class="fe-none inverse-small-menu-buttton" id="small-menu-buttton"></button>
    </nav>