
    <!-- M E N U -->
    
    <nav id="menuTop">

          <ul class="fe-nav fe-col-m-only menu_list" id="menu_about">

            <li class="menu-logo">
                <a href="#"><img src="icon/img/teatr-logo-small-white.png" alt=""/></a>
            </li>

<data-repeat ng-repeat-start="item in perfomancePage['menu']" >
</data-repeat>
              <li class="menu_item">
                <p class="menu_paragraph">
                  <a href="#">
                    <span class="menu_main-span">
{{ item[languages[language1]]['und'][0]['value'] }} 
</span><br/>
                    <span class="menu_sub-span">
{{ item[languages[language2]]['und'][0]['value'] }} 
</span>
                  </a>
                </p>

<data-submenu ng-if="item['children']" >
                <ul class="submenu">
    <data-repeat ng-repeat="child in item['children']">              
                  <li class="submenu_item"><a href="#"> 
{{ child[languages[language1]]['und'][0]['value'] }} </a></li>
    </data-repeat> 
                </ul>

</data-submenu>
              </li>
<data-repeat  ng-repeat-end >
</data-repeat>

          </ul>
      <!-- M O B I L E  M E N U -->
      <ul class="fe-none accordion" id="menu-small">

<data-repeat ng-repeat-start="item in perfomancePage['menu']" >
</data-repeat>

<data-set ng-init="itemofmenu='#menu-'+$index" ></data-set>

        <li class="accordion-section">
          <p class="menu-small_paragraph">
            <a 
            set-atr-for-menu-dir datamenuhref='true'
            class="accordion-section-title menu_main-span "
        href="#">
{{ item[languages[language1]]['und'][0]['value'] }} 
            </a>
          </p>
<data-submenu ng-if="item['children']" >
          <div 
          set-atr-for-menu-dir datamenuid='true'  
          class="accordion-section-content">
            <ul>
    <data-repeat ng-repeat="child in item['children']"> 
              <li class="submenu-small_item" ><a href="#"> 
{{ child[languages[language1]]['und'][0]['value'] }}
              </a></li>
    </data-repeat>              
            </ul>
          </div>
</data-submenu> 
        </li>
<data-repeat  ng-repeat-end >
</data-repeat>




      </ul>

        <button class="fe-none inverse-small-menu-buttton" id="small-menu-buttton"></button>

      </nav> 



