    
    <!-- Content -->
    <div id="content">
        <div class="fe-row" id="main">
            <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
                <div class="about-spectacle">
                    <div class="about-spectacle-title">
                        <h3>
                            <span class="title-big"> 
{{ perfomancePage['page']['field_header_2'][languages[language1]][0]['value'] }}
                            </span>
                            <br>
                            <span class="title-small"> 
{{ perfomancePage['page']['field_header_2'][languages[language2]][0]['value'] }}
                             </span>
                        </h3>
                        <p class="title-additional">
{{ perfomancePage['page']['field_project_lenght'][languages[language1]][0]['value'] 
+ ' | '}} 
{{ perfomancePage['page']['field_age'][languages[language1]][0]['value'] }}                       
                        
                        </p>
                    </div>

<data-div ng-bind-html="
perfomancePage['page']['field_project_about'][languages[language1]][0]['value']">
</data-div>

<data-div ng-bind-html="
perfomancePage['page']['field_project_about'][languages[language2]][0]['value']">
</data-div>

                    <a href="#" class="read-piece-a">

{{ perfomancePage['page']['field_docu'][languages[language1]][0]['description'] }}  

                        <img src="icon/img/read-piece.png" alt="">
                    </a>

                </div>
            </div>

            <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
                <div class="people-of-spectacle">

  
                    <div class="fe-row">
                        <div class="people-of-spectacle-title">
                            <h3>
                                <span class="title-big">
{{ perfomancePage['page']['field_title_people'][languages[language1]][0]['value'] }} 
                                 </span>
                                <br>
                                <span class="title-small"> 
{{ perfomancePage['page']['field_title_people'][languages[language2]][0]['value'] }}
                                </span>
                            </h3>
                        </div>
                    </div>


<data-div ng-bind-html="
perfomancePage['page']['field_project_people'][languages[language1]][0]['value']">
</data-div>


                    <div class="fe-row">
                        <div class="music-of-spectacle-title">
                            <h3>
                                <span class="title-big"> 
{{ perfomancePage['page']['field_title_music'][languages[language1]][0]['value'] }}
                                </span>
                                <br>
                                <span class="title-small">
{{ perfomancePage['page']['field_title_music'][languages[language2]][0]['value'] }}

                                 </span>
                            </h3>
                        </div>
                    </div>

                    <div class="fe-row">
                        <div class="fe-col-12">
                            <!-- A U D I O  P L A Y E R -->
                            <div id="jquery_jplayer_1" 
data-audio-jplayer="audio/ducktales_remastered.mp3";
                            class="jp-jplayer"></div>
                            <div id="jp_container_1" class="jp-audio">
                                <div class="jp-type-single">

                                    <div class="jp-gui jp-interface">

                                        <div class="jp-box">
                                            <ul class="jp-controls">
                                                <li>
                                                    <a href="javascript:;" class="jp-play" tabindex="1"><img class="play-stop-icon" src="icon/img/play.png" alt=""></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="jp-pause" tabindex="1"><img class="play-stop-icon" src="icon/img/stop.png" alt=""></a>
                                                </li>
                                            </ul>
                                            <div class="jp-title">Ducktales Remastered</div>
                                            <div class="jp-current-time"></div>
                                        </div>

                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>

                                        <div class="jp-no-solution">
                                            <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="fe-row">
            <div class="fe-col-12 fe-col-m-only">
                <!--T A B S-->
                <div class="tabs">

                    <ul class="tabs-links">
                        <li class="active tabs-item"><a class="tabs-link" href="#tab1">
{{ perfomancePage['page']['field_title_photo'][languages[language1]][0]['value'] }}

                         &nbsp;&nbsp;&nbsp;|<br>
                            <span class="tabs-subheading">
{{ perfomancePage['page']['field_title_photo'][languages[language2]][0]['value'] }}
</span></a></li>
                        <li class="tabs-item"><a class="tabs-link" href="#tab2">
{{ perfomancePage['page']['field_title_video'][languages[language1]][0]['value'] }}
                         &nbsp;&nbsp;&nbsp;| <br> <span
                                class="tabs-subheading">
{{ perfomancePage['page']['field_title_video'][languages[language2]][0]['value'] }}
                                </span></a></li>
                        <li class="tabs-item"><a class="tabs-link" href="#tab3">
{{ perfomancePage['page']['field_title_press'][languages[language1]][0]['value'] }}
                       
                            &nbsp;&nbsp;&nbsp;|<br> <span class="tabs-subheading">
{{ perfomancePage['page']['field_title_press'][languages[language2]][0]['value'] }}
                         </span></a></li>
                        <li class="tabs-item"><a class="tabs-link" href="#tab4">
{{ perfomancePage['page']['field_title_awards'][languages[language1]][0]['value'] }}
                        &nbsp;&nbsp;&nbsp;|<br> <span
                                class="tabs-subheading">
{{ perfomancePage['page']['field_title_awards'][languages[language2]][0]['value'] }}
                                </span></a></li>
                        <li class="tabs-item"><a class="tabs-link" href="#tab5">
{{ perfomancePage['page']['field_title_comments'][languages[language1]][0]['value'] }}
                        <br> <span
                                class="tabs-subheading">
{{ perfomancePage['page']['field_title_comments'][languages[language2]][0]['value'] }}
                         </span></a></li>
                    </ul>

                    <div class="tabs-content">
                        <div id="tab1" class="tab tab-active fe-col-12">

                            <!-- P H O T O   C A R O U S E L -->
                            <div class="prev-button photo-buttons"><img src="icon/img/prev_button.png" alt=""></div>
                            <div class="next-button photo-buttons"><img src="icon/img/next_button.png" alt=""></div>
                            <div id="lightgallery" class="owl-carousel owl-theme">


<data-repeat ng-repeat="item in perfomancePage['page']
['field_project_photo']['und']" >
   
                                <div 
                                class="item" 
data-src="{{item['uri']}}"
                                >
                                    <img 
src="
{{item['filename'] | changestartpath : 
'/content/sites/default/files/styles/medium/public/' }}
" 
                                    />
                                </div>
</data-repeat>

                                
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <!-- V I D E O   C A R O U S E L -->
                            <div class="prev-button video-buttons"><img src="icon/img/prev_button.png" alt=""></div>
                            <div class="next-button video-buttons"><img src="icon/img/next_button.png" alt=""></div>
                            <div id="video-gallery" class="owl-carousel owl-theme">
                                <!--<div class="light-gal-item" data-src="https://www.youtube.com/watch?v=G8KpPw303PY">-->


   
<data-repeat ng-repeat="item in perfomancePage['page']
['field_project_video']['und']" >
                                <div class="light-gal-item" 
data-src="{{ item['input'] | trusted }}">
                                    <img class="grayscale" 
src="{{ item['video_id'] 
| changestartpath : 
'http://img.youtube.com/vi/' 
| changeendpath : 
'/hqdefault.jpg' 
 }}" />
                                </div>
   
</data-repeat>                                



                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <!-- P U B L I C A T I O N S -->

                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda ipsum nisi, optio quas quis ullam veritatis! Deleniti excepturi ipsam, maxime mollitia nam nesciunt, praesentium quaerat recusandae reprehenderit sunt
                                voluptatem.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur distinctio, impedit ipsam minus nostrum obcaecati odit officiis! Accusantium architecto at dolorem, ducimus ea facilis iusto molestiae nesciunt nihil
                                sit.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea eaque id ipsa iste iure provident quas quis repellat vitae. Eligendi hic laboriosam qui sapiente voluptas! At eveniet harum id!</p>
                        </div>
                        <div id="tab4" class="tab">
                            <!-- A W A R D S -->
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda ipsum nisi, optio quas quis ullam veritatis! Deleniti excepturi ipsam, maxime mollitia nam nesciunt, praesentium quaerat recusandae reprehenderit sunt
                                voluptatem.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur distinctio, impedit ipsam minus nostrum obcaecati odit officiis! Accusantium architecto at dolorem, ducimus ea facilis iusto molestiae nesciunt nihil
                                sit.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea eaque id ipsa iste iure provident quas quis repellat vitae. Eligendi hic laboriosam qui sapiente voluptas! At eveniet harum id!</p>
                        </div>
                        <!---->
                        <div id="tab5" class="tab">
                            <!-- F E E D B A C K -->
                            <div class="fe-row">
                                <div class="fe-col-12">


                                    <form class="feedback-form" action="">
                                        <h4 class="feedback-title">
{{ perfomancePage['page']['static'][languages[language1]]['review_title'] }}
</h4>
                                        <input class="feedback feedback-name" type="text" 
placeholder="
{{ perfomancePage['page']['static'][languages[language1]]['placeholder_name'] }}
"
required="required" 
>
                                        <textarea class="feedback feedback-text" name="textarea" rows="8" cols="40" 
placeholder="
{{ perfomancePage['page']['static'][languages[language1]]['placeholder_text'] }}
"
required="required" 
></textarea>
                                        <input class="submit-button" type="submit" name="submit-button" 
value="
{{ perfomancePage['page']['static'][languages[language1]]['send_button'] }}"
>
                                    </form>

                                    <div 
ng-repeat="item in perfomancePage['comments']"
                                    class="post" >
                                        <p class="post-name">
{{ item['comment_body']['#object']['subject'] }}
                                        </p>
                                        <p class="post-date">
{{ item['comment_body']['#object']['created'] | fromtimestamp }}
</p>
                                        <p class="post-message">
{{ item['comment_body']['#object']['comment_body']['und'][0]['value'] }}
 </p>
                                    </div>                                  

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--A C C O R D E O N-->
            <div class="invisible fe-col-12">
                <div class="accordion">
                    <div class="accordion-section">
                        <a class="accordion-section-title activeTitle" href="#accordion-1"><span
                                class="inner-box-text">Фото</span></a>

                        <div id="accordion-1" class="accordion-section-content activeContent">
                            <div id="tab1" class="tab tab-active fe-col-12">
                                <!-- P H O T O   C A R O U S E L -->
                                <div id="lightgallery2" class="owl-carousel owl-theme">
                                    <div class="item" data-src="http://1.bp.blogspot.com/-y8SPaO6KnVA/UOh1kJWZifI/AAAAAAAAheA/4Lj8eQx7AVw/s1600/sydney+australia+rubber+duck+6.jpg">
                                        <img class="grayscale" src="https://flavorwire.files.wordpress.com/2016/04/5181176-3x2-940x627.jpg?w=205&h=138&crop=1" />
                                    </div>


<data-repeat ng-repeat="item in perfomancePage['page']
['field_project_photo']['und']" >  
                                <div 
                                class="item" 
data-src="{{item['uri']}}"
                                >
                                    <img 
src="
{{item['filename'] | changestartpath : 
'/content/sites/default/files/styles/medium/public/' }}
" 
                                    />
                                </div>
</data-repeat>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-2"><span
                                class="inner-box-text">Видео</span></a>

                        <div id="accordion-2" class="accordion-section-content">
                            <!-- V I D E O   C A R O U S E L -->
                            <div id="video-gallery2" class="owl-carousel owl-theme">
  
<data-repeat ng-repeat="item in perfomancePage['page']
['field_project_video']['und']" >
                                <div class="light-gal-item" 
data-src="{{ item['input'] | trusted }}">
                                    <img class="grayscale" 
src="{{ item['video_id'] 
| changestartpath : 
'http://img.youtube.com/vi/' 
| changeendpath : 
'/hqdefault.jpg' 
 }}" />
                                </div>   
</data-repeat>  

                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-3"><span class="inner-box-text">Пресса о спектакле</span></a>

                        <div id="accordion-3" class="accordion-section-content">
                            <!-- P U B L I C A T I O N S -->
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda ipsum nisi, optio quas quis ullam veritatis! Deleniti excepturi ipsam, maxime mollitia nam nesciunt, praesentium quaerat recusandae reprehenderit sunt
                                voluptatem.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur distinctio, impedit ipsam minus nostrum obcaecati odit officiis! Accusantium architecto at dolorem, ducimus ea facilis iusto molestiae nesciunt nihil
                                sit.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea eaque id ipsa iste iure provident quas quis repellat vitae. Eligendi hic laboriosam qui sapiente voluptas! At eveniet harum id!</p>
                        </div>
                    </div>

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-4"><span
                                class="inner-box-text">Награды</span></a>

                        <div id="accordion-4" class="accordion-section-content">
                            <!-- A W A R D S -->
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda ipsum nisi, optio quas quis ullam veritatis! Deleniti excepturi ipsam, maxime mollitia nam nesciunt, praesentium quaerat recusandae reprehenderit sunt
                                voluptatem.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur distinctio, impedit ipsam minus nostrum obcaecati odit officiis! Accusantium architecto at dolorem, ducimus ea facilis iusto molestiae nesciunt nihil
                                sit.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea eaque id ipsa iste iure provident quas quis repellat vitae. Eligendi hic laboriosam qui sapiente voluptas! At eveniet harum id!</p>
                        </div>
                    </div>

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-5"><span
                                class="inner-box-text">Отзывы</span></a>

                        <div id="accordion-5" class="accordion-section-content">
                            <!--F E E D B A C K-->
                            <div class="fe-row">
                                <div class="fe-col-12">


                                    <form class="feedback-form" action="">
                                        <h4 class="feedback-title">
{{ perfomancePage['page']['static'][languages[language1]]['review_title'] }}
</h4>
                                        <input class="feedback feedback-name" type="text"
placeholder="
{{ perfomancePage['page']['static'][languages[language1]]['placeholder_name'] }}
"
required="required" 
>

                                        <textarea class="feedback feedback-text" name="textarea" rows="8" cols="40" 
placeholder="
{{ perfomancePage['page']['static'][languages[language1]]['placeholder_text'] }}
"
required="required" 
>
</textarea>
                                        <input class="submit-button" type="submit" name="submit-button" 
value="
{{ perfomancePage['page']['static'][languages[language1]]['send_button'] }}"
>
                                    </form>


                                    <div 
ng-repeat="item in perfomancePage['comments']"
                                    class="post" >
                                        <p class="post-name">
{{ item['comment_body']['#object']['subject'] }}
                                        </p>
                                        <p class="post-date">
{{ item['comment_body']['#object']['created'] | fromtimestamp }}
</p>
                                        <p class="post-message">
{{ item['comment_body']['#object']['comment_body']['und'][0]['value'] }}
 </p>
                                    </div>  


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- F O O T E R-->
        <footer>
            <div class="fe-row">
                <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-6 fe-text-center">
                    <div id="footer_address"> 
{{ perfomancePage['footer'][languages[language1]]
['adress_footer'] }}
 
                        <br/> 
{{ perfomancePage['footer']['mail'] }}
                        </div>
                </div>
                <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-6 fe-text-center">
                    <div id="footer_phone">
{{ perfomancePage['settings']['phone_first'] }}                     
                     
                    &nbsp

{{ perfomancePage['settings']['phone_second'] }}  
                    </div>
                </div>
                <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-12" style="overflow: hidden;">
                    <ul class="fe-nav" id="footer_icon">
                        <li>
                            <a target="_blank" 
                            href="http://vk.com"> <img src="icon/img/vk.png" alt="icon"> </a>
                        </li>
                        <li>
                            <a target="_blank" 
                            href="https://www.facebook.com/"> <img src="icon/img/facebook.png" alt="icon"> </a>
                        </li>
                        <li>
                            <a target="_blank" 
                            href="https://www.instagram.com/"> <img src="icon/img/instagram.png" alt="icon"> </a>
                        </li>
                        <li>
                            <a target="_blank" 
                            href="https://www.youtube.com/"> <img src="icon/img/you-tube.png" alt="icon"> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


