
    
        <nav id="menuTop">

            <ul class="fe-nav fe-col-m-only" id="menu">

                <li class="menu-logo">
                    <a href="index.html"><img src="icon/img/teatr-logo-small-white.png" alt="" /></a>
                </li>
                <li id="category-button">
                    <p class="inverse-arrows"><span class="menu_main-span"> О доме        </span>
                        <br/>
                        <span class="menu_sub-span"> ёнгын кол       </span></p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Афиша         </span>
                            <br/> <span class="menu_sub-span"> ляххал          </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Новые дела    </span>
                            <br/> <span class="menu_sub-span"> лильпи вāрмальт </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Хозяева       </span>
                            <br/> <span class="menu_sub-span"> театрын мирт    </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Мировоззрение </span>
                            <br/> <span class="menu_sub-span"> мир мӯтра       </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Библиотека    </span>
                            <br/> <span class="menu_sub-span"> ёнгын           </span> </a>
                    </p>
                </li>
                <li>
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Контакты      </span>
                            <br/> <span class="menu_sub-span"> рупитан мāнанл  </span> </a>
                    </p>
                </li>
                <li id="menu_last-element">
                    <p class="inverse-arrows">
                        <a href="index.html"> <span class="menu_main-span"> Билеты
            </a></li>


        </ul>

        <ul class="fe-none accordion" id="menu-small">
            <li class="accordion-section">
                <p class="about-p">
                    <a class="accordion-section-title menu_main-span inner-box-text" href="#menu-1"> О доме </a>
                </p>
                <div id="menu-1" class="accordion-section-content">

                    <ul>
                        <li><a href="index.html"> История </a></li>
                        <li><a href="index.html"> Новости </a></li>
                        <li><a href="index.html"> Сцена </a></li>
                        <li><a href="index.html"> Документы </a></li>
                        <li><a href="index.html"> Пресса </a></li>
                        <li><a href="index.html"> Награды </a></li>
                        <li><a href="index.html"> Партнеры </a></li>
                        <li><a href="index.html"> Вакансии </a></li>
                        <li><a href="index.html"> Книга отзывов </a></li>
                    </ul>

                </div>
            </li>


            <li><p class="about-p"><a href="index.html"> <span class="menu_main-span"> Афиша         </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Новые дела    </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Хозяева       </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Мировоззрение </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Библиотека    </span></a>
                    </p>
                </li>
                <li>
                    <p class="about-p">
                        <a href="index.html"> <span class="menu_main-span"> Контакты      </span></a>
                    </p>
                </li>
                <li id="menu_last-element">
                    <p class="about-p">
                        <a href="#"> <span class="menu_main-span"> Билеты </a></li>

        </ul>

        <ul id="category" class="fe-none">

            <li><a href="index.html"> История </a></li>
            <li><a href="index.html"> Новости </a></li>
            <li><a href="index.html"> Сцена </a></li>
            <li><a href="index.html"> Документы </a></li>
            <li><a href="index.html"> Пресса </a></li>
            <li><a href="index.html"> Награды </a></li>
            <li><a href="index.html"> Партнеры </a></li>
            <li><a href="index.html"> Вакансии </a></li>
            <li><a href="index.html"> Книга отзывов </a></li>

        </ul>

        <button class="fe-none inverse-small-menu-buttton" id="small-menu-buttton"></button>
    </nav>

    <!-- Header -->

    <header class="about-header">

        <div id="header_center_logo-mobile" class="fe-none">
            <a href="index.html">
                <img class="fe-img" src="icon/img/logo_inverse.jpg">
            </a>
        </div>

        <div class="fe-row">
            <div class="header-h">
                <h2>
                    <span class="header-title-big"> И дольше века длиться день </span>
                            <br>
                            <span class="header-title-small"> и тумпи щӑта </span>
                            </h2>
                            <h3>
                    <span class="header-title-smallest">Описание пьесы 2048 символов, 12 строк</span>
                </h3>
    </div>
    </div>

    <div class="scroll-arrow" id="scroll-arrow">
        <img src="icon/img/about-s22-arrow.png" alt="">
    </div>

    <div id="header_logo" class="fe-none">

        <div id="header_logo_image">
            <a href="index.html"> <img src="icon/img/icon-logo.png" alt="logo" /> </a>
        </div>

    </div>

    </header>

    <!-- Content -->
    <div id="content">
        <div class="fe-row" id="main">
            <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
                <div class="about-spectacle">
                    <div class="about-spectacle-title">
                        <h3>
                            <span class="title-big"> О спектакле </span>
                            <br>
                            <span class="title-small"> пилʼёх </span>
                        </h3>
                        <p class="title-additional">1 час 40 минут | 16+</p>
                    </div>
                    <div class="about-spectacle-ru">
                        <p class="about-spectacle-p">Спектакль «И дольше века длится день» создан по произведениям известного советского и киргизского писателя Чингиза Айтматова. В его основе два преданья: «Легенда о Матери», повествующая о древнем великом народе – найманах, об утраченной
                            памяти и великой любви матери к сыну, и «Рыба - женщина», рассказывающая о небывалой любви рыбы-женщины и хромоногого рыбака.</p>
                        <p class="about-spectacle-p">Автор и режиссер вовлекают зрителя в магию и философию того, что сохранилось от прошлого, ибо мифы и легенды – это не что иное как послание предков. Действие спектакля проходит в сопровождении хора, древнего музыкального австралийских
                            аборигенов диджериду (didgeridoo) и современного инструмента ханг драм (hang drum), который рождает «инопланетные» звуки.</p>
                        <p class="about-p">«…Тема памяти для меня важна во многих смыслах. Но прежде всего надо осознать, что такое историческая память, именно она сегодня важна и художнику и читателю. Люди помнят все или должны помнить все. Кто-то верно заметит: тяжело
                            тому, кто все помнит. Так вот, пусть нам будет тяжело, но мы не должны забывать уроков прошлого. И пусть эти уроки влияют на нас во всем: на наше поведение, на наше сознание, поступки. Человек должен быть, прежде всего, человеком,
                            он должен жить в гармонии с подобными ему людьми, в гармонии с природой, он должен быть носителем высоких идеалов…»
                            <div>Чингиз Айтматов</div>
                        </p>
                    </div>
                    <div class="about-spectacle-kca-mns">
                        <p class="about-spectacle-p">Муликәрт Ёмвош округ Манстӑр районӑн вә. Кӑрӑщ сӑңхум оӑңӑн вән нохӑр юхӑт кўтн йис вўш эвӑт тӑм ай хӑнты кәртые оь. Хән тӑта хӑннєхуятӑт вәты питсӑт, щи оӑңӑн уш ӑнтәм. Тәп археологӑт лупӑт, хуты тӑта мир шєңк хўвн («бронзовый
                            век» вўш эвӑт)вәты питсӑт. Па муй щит Муликәрт нєм рўщ щирн - уш ищи ӑнтәм, хӑнты па вухӑь ясӑңӑн тӑта ияха кӑртӑсӑңӑн. Итәх ёх лупӑт, хуты рўщ щирн «Мулигорт», щит «Няхӑң-юнтӑң кәрт» пит.
                        </p>
                        <p class="about-spectacle-p">Йис пура вўш эвӑт Муликәртӑн Посоховӑт рәт ёх вәсӑт. ыв шєңк яма хотӑт омӑсты хошсӑт. Кашӑң хоттє ёх ўв юкан хот тӑйс. Муй щирн йис вўш эвӑт щатьщащиа-аңщащиа вәсӑт, ищиты ыв вой-хў вепӑсӑсӑт, Ная-Вәрта пойкщӑсӑт.
                            Щит такы ыв тӑм хӑт вәнты, ән хән вәты щир тӑйсӑт. Щи тумпи щӑта Алексеевӑт, Ендыревӑт, Мороховӑт, Проскуряко-вӑт па Непкинӑт вәсӑт.</p>
                        <p class="about-spectacle-p">Увӑс Ас мўвӑт хўваттыйн тӑм кәртӑн мєт оӑң ӑшкола вєрсы. Щӑта интернат, садик, апка, кўлуп хотӑт омӑссыйт, радио па тўт карты кеӑт тасыйт. Щи оӑтн кәрт Сўмӑтвош района ўңман вәс (Сўмӑтвош архив нєпекӑт щирн). Советской лащн
                            кәрта айат учитель хә китсы, ўв Николаев опрӑщ нєм тӑйс. Ин хә няврємӑт вәнтыйты пӑта пӑсанӑт па ай пӑсанӑт вєрӑс. Учитель ики хӑт мӑр няврємӑт вәнтӑс, етн па ӑңкиа-ащиа ӑшколая юхтыйсӑт. ўң вәнты вән хуятӑт иса
                            рўщ буквайт уша вєрсӑт. Тӑм ӑшкола оӑңӑн па ай кәртӑтн мир уша павӑтсӑт па ищи няврєма щив вәнтыйты китты питсӑт. Щит Калтысъян (нив километра вўшн), Халапант (30 километра вўшн) па Нум Няръёх (15 километра вўшн) кәртӑң
                            ёх.
                        </p>
                    </div>
                    <a href="#" class="read-piece-a">Читать пьесу
                        <img src="icon/img/read-piece.png" alt="">
                    </a>
                </div>
            </div>
            <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6">
                <div class="people-of-spectacle">
                    <div class="fe-row">
                        <div class="people-of-spectacle-title">
                            <h3>
                                <span class="title-big"> Люди спектакля </span>
                                <br>
                                <span class="title-small"> вәнлʼтыйлʼты </span>
                            </h3>
                        </div>
                    </div>
                    <div class="fe-row">
                        <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6 fe-col-s-6">
                            <div class="people-of-spectacle-col">
                                <h4 class="people-position">Режиссер-постановщик:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Анна-Ксения Вишневская</a></li>
                                </ul>

                                <h4 class="people-position">Актеры | Легенда матери:</h4>
                                <ul class="people">
                                    <li><a href="index.html">Вадим Важенин</a></li>
                                    <li><a href="index.html">Юлия Яркина</a></li>
                                    <li><a href="index.html">Евгения Молданова</a></li>
                                    <li><a href="index.html">Валентин Неттин</a></li>
                                    <li><a href="index.html">Максим Анямов</a></li>
                                    <li><a href="index.html">Сергей Салтанов</a></li>
                                    <li><a href="index.html">Александр Тургачев</a></li>
                                </ul>

                                <h4 class="people-position">Хор:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Марина Кашпирева</a></li>
                                    <li><a href="index.html">Мария Лельхова</a></li>
                                    <li><a href="index.html">Анастасия Тасьманова</a></li>
                                    <li><a href="index.html">Татьяна Огнева</a></li>
                                    <li><a href="index.html">Екатерина Потпот</a></li>
                                    <li><a href="index.html">Вадим Важенин</a></li>
                                    <li><a href="index.html">Сергей Салтанов</a></li>
                                    <li><a href="index.html">Александр Тургачев</a></li>
                                    <li><a href="index.html">Максим Анямов</a></li>
                                </ul>

                                <h4 class="people-position">Актеры | Рыба-женщина:</h4>
                                <ul class="people">
                                    <li><a href="index.html">Юлия Яркина</a></li>
                                    <li><a href="index.html">Вадим Важенин</a></li>
                                    <li><a href="index.html">Екатерина Потпот</a></li>
                                    <li><a href="index.html">Евгения Молданова</a></li>
                                    <li><a href="index.html">Александр Тургачев</a></li>
                                    <li><a href="index.html">Максим Анямов</a></li>
                                    <li><a href="index.html">Валентин Неттин</a></li>
                                    <li><a href="index.html">Игорь Хромов</a></li>
                                    <li><a href="index.html">Дмитрий Решетников</a></li>
                                    <li><a href="index.html">Татьяна Огнева</a></li>
                                    <li><a href="index.html">Сергей Салтанов</a></li>
                                    <li><a href="index.html">Марина Кашпирева</a></li>
                                    <li><a href="index.html">Анастасия Тасьманова</a></li>
                                </ul>

                                <h4 class="people-position">Hang drum играют:</h4>
                                <ul class="people">
                                    <li><a href="index.html">Мария Лельхова</a></li>
                                    <li><a href="index.html">Екатерина Потпот</a></li>
                                    <li><a href="index.html">Максим Анямов</a></li>
                                    <li><a href="index.html">Вадим Важенинв</a></li>
                                </ul>

                                <h4 class="people-position">Didgeridoo играют:</h4>
                                <ul class="people">
                                    <li><a href="index.html">Александр Тургачев</a></li>
                                    <li><a href="index.html">Максим Анямов</a></li>
                                </ul>

                                <h4 class="people-position">Горловое пение:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Вадим Важенин</a></li>
                                    <li><a href="index.html">Максим Анямов</a></li>
                                </ul>

                                <h4 class="people-position">Музыкальное оформление:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Евгений Толстых</a></li>
                                    <li><a href="index.html">Юрий Леонов</a></li>
                                    <li><a href="index.html">Мария Лельхова</a></li>
                                </ul>

                                <h4 class="people-position">Сценическая речь:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Татьяна Ахмадыршина</a></li>
                                </ul>

                                <h4 class="people-position">Звук:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Сергей Ермаков</a></li>
                                    <li><a href="index.html">Дмитрий Мицкий</a></li>
                                </ul>

                                <h4 class="people-position">Начальник отдела концертно-театральной деятельностью:</h4>
                                <ul class="people">
                                    <li><a href="index.html">Дмитрий Решетников</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="fe-col-u-6 fe-col-b-6 fe-col-m-6 fe-col-s-6">
                            <div class="people-of-spectacle-col">
                                <h4 class="people-position">Режиссер-куратор:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Александр Тургачев</a></li>
                                </ul>

                                <h4 class="people-position">Художник-постановщик:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Павел Мизев</a></li>
                                </ul>

                                <h4 class="people-position">Инсценировка:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Анна-Ксения Вишневская</a></li>
                                    <li><a href="index.html">Тимур Салихов</a></li>
                                </ul>

                                <h4 class="people-position">Научные консультанты и переводчики:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Евдокия Немысова</a></li>
                                    <li><a href="index.html">Людмила Панченко</a></li>
                                    <li><a href="index.html">Римма Потпот</a></li>
                                    <li><a href="index.html">Ульяна Шульгина (Рандымова)</a></li>
                                </ul>

                                <h4 class="people-position">Написание песен:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Ульяна Шульгина (Рандымова)</a></li>
                                </ul>

                                <h4 class="people-position">Хореография:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Евгения Елисеева</a></li>
                                </ul>

                                <h4 class="people-position">Художник по костюмам:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Екатерина Ранинен</a></li>
                                </ul>

                                <h4 class="people-position">Художник по гриму:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Алена Сулямова</a></li>
                                </ul>

                                <h4 class="people-position">Костюмы:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Галина Яковлева</a></li>
                                    <li><a href="index.html">Галина Мизева</a></li>
                                </ul>

                                <h4 class="people-position">Изготовление декорации реквизита:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Александр Хамзин</a></li>
                                    <li><a href="index.html">Григорий Косенко</a></li>
                                    <li><a href="index.html">Александр Рязанов</a></li>
                                    <li><a href="index.html">Виталий Разживин</a></li>
                                    <li><a href="index.html">Дмитрий Плотников</a></li>
                                    <li><a href="index.html">Илья Кашкаров</a></li>
                                    <li><a href="index.html">Михаил Ткаченко</a></li>
                                </ul>

                                <h4 class="people-position">Художник по свету:</h4>
                                <ul class="people">
                                    <li><a href="index.html">Павел Мизев</a></li>
                                </ul>

                                <h4 class="people-position">Свет:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Игорь Резник</a></li>
                                </ul>

                                <h4 class="people-position">Дизайн:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Сергей Сондин</a></li>
                                </ul>

                                <h4 class="people-position">Заведующий труппой:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Альбина Алиханова</a></li>
                                </ul>

                                <h4 class="people-position">Заведующий постановочной частью:</h4>
                                <ul class="people people-indent">
                                    <li><a href="index.html">Данил Хасанов</a></li>
                                </ul>

                                <h4 class="people-position">Директор:</h4>
                                <ul class="people">
                                    <li><a href="index.html">Евгений Литвинчук</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="fe-row">
                        <div class="music-of-spectacle-title">
                            <h3>
                                <span class="title-big"> Музыка из спектакля </span>
                                <br>
                                <span class="title-small"> вәнлʼтыйлʼты </span>
                            </h3>
                        </div>
                    </div>

                    <div class="fe-row">
                        <div class="fe-col-12">
                            <!-- A U D I O  P L A Y E R -->
                            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                            <div id="jp_container_1" class="jp-audio">
                                <div class="jp-type-single">

                                    <div class="jp-gui jp-interface">

                                        <div class="jp-box">
                                            <ul class="jp-controls">
                                                <li>
                                                    <a href="javascript:;" class="jp-play" tabindex="1"><img class="play-stop-icon" src="icon/img/play.png" alt=""></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="jp-pause" tabindex="1"><img class="play-stop-icon" src="icon/img/stop.png" alt=""></a>
                                                </li>
                                            </ul>
                                            <div class="jp-title">Ducktales Remastered</div>
                                            <div class="jp-current-time"></div>
                                        </div>

                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>

                                        <div class="jp-no-solution">
                                            <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fe-row">
            <div class="fe-col-12 fe-col-m-only">
                <!--T A B S-->
                <div class="tabs">
                    <ul class="tabs-links">
                        <li class="active tabs-item"><a class="tabs-link" href="#tab1">Фото &nbsp;&nbsp;&nbsp;|<br>
                            <span class="tabs-subheading">айат</span></a></li>
                        <li class="tabs-item"><a class="tabs-link" href="#tab2">Видео &nbsp;&nbsp;&nbsp;| <br> <span
                                class="tabs-subheading">оӑң</span></a></li>
                        <li class="tabs-item"><a class="tabs-link" href="#tab3">Пресса о спектакле
                            &nbsp;&nbsp;&nbsp;|<br> <span class="tabs-subheading">лупӑт</span></a></li>
                        <li class="tabs-item"><a class="tabs-link" href="#tab4">Награды &nbsp;&nbsp;&nbsp;|<br> <span
                                class="tabs-subheading">лупӑт</span></a></li>
                        <li class="tabs-item"><a class="tabs-link" href="#tab5">Отзывы <br> <span
                                class="tabs-subheading">лупӑт</span></a></li>
                    </ul>
                    <div class="tabs-content">
                        <div id="tab1" class="tab tab-active fe-col-12">
                            <!-- P H O T O   C A R O U S E L -->
                            <div class="prev-button photo-buttons"><img src="icon/img/prev_button.png" alt=""></div>
                            <div class="next-button photo-buttons"><img src="icon/img/next_button.png" alt=""></div>
                            <div id="lightgallery" class="owl-carousel owl-theme">
                                <div class="item" data-src="http://1.bp.blogspot.com/-y8SPaO6KnVA/UOh1kJWZifI/AAAAAAAAheA/4Lj8eQx7AVw/s1600/sydney+australia+rubber+duck+6.jpg">
                                    <img class="grayscale" src="https://flavorwire.files.wordpress.com/2016/04/5181176-3x2-940x627.jpg?w=205&h=138&crop=1" />
                                </div>
                                <div class="item" data-src="img/big_image.jpg">
                                    <img src="img/s22_pic2.jpg" />
                                </div>
                                <div class="item" data-src="img/big_image.jpg">
                                    <img src="img/s22_pic3.jpg" />
                                </div>
                                <div class="item" data-src="img/big_image.jpg">
                                    <img src="img/s22_pic4.jpg" />
                                </div>
                                <div class="item" data-src="img/big_image.jpg">
                                    <img src="img/s22_pic1.jpg" />
                                </div>
                                <div class="item" data-src="img/big_image.jpg">
                                    <img src="img/s22_pic2.jpg" />
                                </div>
                                <div class="item" data-src="img/big_image.jpg">
                                    <img src="img/s22_pic3.jpg" />
                                </div>
                                <div class="item" data-src="img/big_image.jpg">
                                    <img src="img/s22_pic4.jpg" />
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <!-- V I D E O   C A R O U S E L -->
                            <div class="prev-button video-buttons"><img src="icon/img/prev_button.png" alt=""></div>
                            <div class="next-button video-buttons"><img src="icon/img/next_button.png" alt=""></div>
                            <div id="video-gallery" class="owl-carousel owl-theme">
                                <!--<div class="light-gal-item" data-src="https://www.youtube.com/watch?v=G8KpPw303PY">-->
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=G8KpPw303PY">
                                    <!--<a class="light-gal-item" href="https://www.youtube.com/watch?v=G8KpPw303PY"-->
                                    <img class="grayscale" src="http://img.youtube.com/vi/G8KpPw303PY/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=PHAc3_MEjgQ">
                                    <img class="grayscale" src="http://img.youtube.com/vi/PHAc3_MEjgQ/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=kFv4qYZQz1g">
                                    <img class="grayscale" src="http://img.youtube.com/vi/kFv4qYZQz1g/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=ZpMp7RK2TMQ">
                                    <img class="grayscale" src="http://img.youtube.com/vi/ZpMp7RK2TMQ/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=N8l1Cjnm9Wg">
                                    <img class="grayscale" src="http://img.youtube.com/vi/N8l1Cjnm9Wg/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=e3PdcKcUvDY">
                                    <img class="grayscale" src="http://img.youtube.com/vi/e3PdcKcUvDY/hqdefault.jpg" />
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <!-- P U B L I C A T I O N S -->
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda ipsum nisi, optio quas quis ullam veritatis! Deleniti excepturi ipsam, maxime mollitia nam nesciunt, praesentium quaerat recusandae reprehenderit sunt
                                voluptatem.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur distinctio, impedit ipsam minus nostrum obcaecati odit officiis! Accusantium architecto at dolorem, ducimus ea facilis iusto molestiae nesciunt nihil
                                sit.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea eaque id ipsa iste iure provident quas quis repellat vitae. Eligendi hic laboriosam qui sapiente voluptas! At eveniet harum id!</p>
                        </div>
                        <div id="tab4" class="tab">
                            <!-- A W A R D S -->
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda ipsum nisi, optio quas quis ullam veritatis! Deleniti excepturi ipsam, maxime mollitia nam nesciunt, praesentium quaerat recusandae reprehenderit sunt
                                voluptatem.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur distinctio, impedit ipsam minus nostrum obcaecati odit officiis! Accusantium architecto at dolorem, ducimus ea facilis iusto molestiae nesciunt nihil
                                sit.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea eaque id ipsa iste iure provident quas quis repellat vitae. Eligendi hic laboriosam qui sapiente voluptas! At eveniet harum id!</p>
                        </div>
                        <!---->
                        <div id="tab5" class="tab">
                            <!-- F E E D B A C K -->
                            <div class="fe-row">
                                <div class="fe-col-12">
                                    <div class="post">
                                        <p class="post-name">Александр</p>
                                        <p class="post-date">02/05/2016</p>
                                        <p class="post-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dolore dolorem fugiat hic labore laboriosam magni nemo nisi nobis non, nostrum provident quibusdam repellat reprehenderit repudiandae rerum temporibus
                                            vel voluptatum!</p>
                                    </div>
                                    <form class="feedback-form" action="">
                                        <h4 class="feedback-title">Оставить отзыв:</h4>
                                        <input class="feedback feedback-name" type="text" placeholder="Имя Фамилия">
                                        <textarea class="feedback feedback-text" name="textarea" rows="8" cols="40" placeholder="Текст отзыва"></textarea>
                                        <input class="submit-button" type="submit" name="submit-button" value="Отправить">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--A C C O R D E O N-->
            <div class="invisible fe-col-12">
                <div class="accordion">
                    <div class="accordion-section">
                        <a class="accordion-section-title activeTitle" href="#accordion-1"><span
                                class="inner-box-text">Фото</span></a>

                        <div id="accordion-1" class="accordion-section-content activeContent">
                            <div id="tab1" class="tab tab-active fe-col-12">
                                <!-- P H O T O   C A R O U S E L -->
                                <div id="lightgallery2" class="owl-carousel owl-theme">
                                    <div class="item" data-src="http://1.bp.blogspot.com/-y8SPaO6KnVA/UOh1kJWZifI/AAAAAAAAheA/4Lj8eQx7AVw/s1600/sydney+australia+rubber+duck+6.jpg">
                                        <img class="grayscale" src="https://flavorwire.files.wordpress.com/2016/04/5181176-3x2-940x627.jpg?w=205&h=138&crop=1" />
                                    </div>
                                    <div class="item" data-src="img/big_image.jpg">
                                        <img src="img/s22_pic2.jpg" />
                                    </div>
                                    <div class="item" data-src="img/big_image.jpg">
                                        <img src="img/s22_pic3.jpg" />
                                    </div>
                                    <div class="item" data-src="img/big_image.jpg">
                                        <img src="img/s22_pic4.jpg" />
                                    </div>
                                    <div class="item" data-src="img/big_image.jpg">
                                        <img src="img/s22_pic1.jpg" />
                                    </div>
                                    <div class="item" data-src="img/big_image.jpg">
                                        <img src="img/s22_pic2.jpg" />
                                    </div>
                                    <div class="item" data-src="img/big_image.jpg">
                                        <img src="img/s22_pic3.jpg" />
                                    </div>
                                    <div class="item" data-src="img/big_image.jpg">
                                        <img src="img/s22_pic4.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-2"><span
                                class="inner-box-text">Видео</span></a>

                        <div id="accordion-2" class="accordion-section-content">
                            <!-- V I D E O   C A R O U S E L -->
                            <div id="video-gallery2" class="owl-carousel owl-theme">
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=G8KpPw303PY">
                                    <img src="http://img.youtube.com/vi/G8KpPw303PY/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=PHAc3_MEjgQ">
                                    <img src="http://img.youtube.com/vi/PHAc3_MEjgQ/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=kFv4qYZQz1g">
                                    <img src="http://img.youtube.com/vi/kFv4qYZQz1g/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=ZpMp7RK2TMQ">
                                    <img src="http://img.youtube.com/vi/ZpMp7RK2TMQ/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=N8l1Cjnm9Wg">
                                    <img src="http://img.youtube.com/vi/N8l1Cjnm9Wg/hqdefault.jpg" />
                                </div>
                                <div class="light-gal-item" data-src="https://www.youtube.com/watch?v=e3PdcKcUvDY">
                                    <img src="http://img.youtube.com/vi/e3PdcKcUvDY/hqdefault.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-3"><span class="inner-box-text">Пресса о спектакле</span></a>

                        <div id="accordion-3" class="accordion-section-content">
                            <!-- P U B L I C A T I O N S -->
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda ipsum nisi, optio quas quis ullam veritatis! Deleniti excepturi ipsam, maxime mollitia nam nesciunt, praesentium quaerat recusandae reprehenderit sunt
                                voluptatem.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur distinctio, impedit ipsam minus nostrum obcaecati odit officiis! Accusantium architecto at dolorem, ducimus ea facilis iusto molestiae nesciunt nihil
                                sit.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea eaque id ipsa iste iure provident quas quis repellat vitae. Eligendi hic laboriosam qui sapiente voluptas! At eveniet harum id!</p>
                        </div>
                    </div>

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-4"><span
                                class="inner-box-text">Награды</span></a>

                        <div id="accordion-4" class="accordion-section-content">
                            <!-- A W A R D S -->
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda ipsum nisi, optio quas quis ullam veritatis! Deleniti excepturi ipsam, maxime mollitia nam nesciunt, praesentium quaerat recusandae reprehenderit sunt
                                voluptatem.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur distinctio, impedit ipsam minus nostrum obcaecati odit officiis! Accusantium architecto at dolorem, ducimus ea facilis iusto molestiae nesciunt nihil
                                sit.
                            </p>
                            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea eaque id ipsa iste iure provident quas quis repellat vitae. Eligendi hic laboriosam qui sapiente voluptas! At eveniet harum id!</p>
                        </div>
                    </div>

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-5"><span
                                class="inner-box-text">Отзывы</span></a>

                        <div id="accordion-5" class="accordion-section-content">
                            <!--F E E D B A C K-->
                            <div class="fe-row">
                                <div class="fe-col-12">
                                    <div class="post">
                                        <p class="post-name">Александр</p>
                                        <p class="post-date">02/05/2016</p>
                                        <p class="post-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dolore dolorem fugiat hic labore laboriosam magni nemo nisi nobis non, nostrum provident quibusdam repellat reprehenderit repudiandae rerum temporibus
                                            vel voluptatum!</p>
                                    </div>
                                    <form class="feedback-form" action="">
                                        <h4 class="feedback-title">Оставить отзыв:</h4>
                                        <input class="feedback feedback-name" type="text" placeholder="Имя Фамилия">
                                        <textarea class="feedback feedback-text" name="textarea" rows="8" cols="40" placeholder="Текст отзыва"></textarea>
                                        <input class="submit-button" type="submit" name="submit-button" value="Отправить">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- F O O T E R-->
        <footer>
            <div class="fe-row">
                <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-6 fe-text-center">
                    <div id="footer_address"> ул. Мира 14 а, Дом Дружбы народов
                        <br/> mail@toun.ru</div>
                </div>
                <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-6 fe-text-center">
                    <div id="footer_phone"> +7(3467) 33-54-61 &nbsp +7(3467) 85-25-61</div>
                </div>
                <div class="fe-col-u-4 fe-col-b-4 fe-col-m-4 fe-col-s-12" style="overflow: hidden;">
                    <ul class="fe-nav" id="footer_icon">
                        <li>
                            <a href="#"> <img src="icon/img/vk.png" alt="icon"> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="icon/img/facebook.png" alt="icon"> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="icon/img/instagram.png" alt="icon"> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="icon/img/you-tube.png" alt="icon"> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


<div 
oc-lazy-load='[
"js/test.js", 
"js/lib/jquery.min.js",
"js/lib/lightgallery.min.js",
"js/lib/jquery.waypoints.min.js",
"js/lib/jquery.jplayer.min.js",
"js/lib/owl.carousel.min.js",
"js/lib/jquery.mousewheel.min.js",
"js/lib/lg-thumbnail.min.js",
"js/lib/lg-fullscreen.min.js",
"js/lib/lg-video.js",
"js/jquery-scroll.js",
"js/waypoints.init.js",
"js/accordion.js",
"js/about.js"
]'>
 
</div>


<!--  
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js">
    </script>
    <script src="js/lib/jquery.waypoints.min.js"></script>
    <script src="js/lib/jquery.jplayer.min.js"></script>
    <script src="js/lib/owl.carousel.min.js"></script>

    <script src="js/jquery-scroll.js"></script>
    <script src="js/waypoints.init.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/about.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/js/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/js/lg-thumbnail.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/js/lg-fullscreen.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/js/lg-video.js"></script>

-->

