


<div 
oc-lazy-load='[
"/js/jquery-scroll.js",
"/js/waypoints.init.js",
"/js/accordion.js",
"/js/about.js",
"/js/menu.js"
]'>
 
</div>


<!--  

    <script src="js/lib/jquery.waypoints.min.js"></script>
    <script src="js/lib/jquery.jplayer.min.js"></script>
    <script src="js/lib/owl.carousel.min.js"></script>

    <script src="js/jquery-scroll.js"></script>
    <script src="js/waypoints.init.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/about.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/js/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/js/lg-thumbnail.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/js/lg-fullscreen.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.18/js/lg-video.js"></script>

-->

