

    <ng-include src="'views/perfomance/perfomance-menutop.html'"></ng-include> 

    <ng-include src="'views/perfomance/perfomance-header.html'"></ng-include> 

    <ng-include src="'views/perfomance/perfomance-content.html'"></ng-include> 

    <button ng-click="routeGoToView('/perfomance')">Go To '/perfomance'</button>
    <button ng-click="routeGoToView('/')">Go To '/'</button>
    <button ng-click="routeGoToView('/test')">Go To test</button>
    <div ng-click='test(debuger)'>DEBUG</div> 


 
    <ng-include src="'views/perfomance/perfomance-lazyload.html'"></ng-include>   

