

    <!-- Header -->

    <header class="about-header">

        <div id="header_center_logo-mobile" class="fe-none">
            <a href="index.html">
                <img class="fe-img" src="icon/img/logo_inverse.jpg">
            </a>
        </div>

        <div class="fe-row">
            <div class="header-h">
                <h2>
                    <span class="header-title-big"> И дольше века длиться день </span>
                            <br>
                            <span class="header-title-small"> и тумпи щӑта </span>
                            </h2>
                            <h3>
                    <span class="header-title-smallest">Описание пьесы 2048 символов, 12 строк</span>
                </h3>
    </div>
    </div>

    <div class="scroll-arrow" id="scroll-arrow">
        <img src="icon/img/about-s22-arrow.png" alt="">
    </div>

    <div id="header_logo" class="fe-none">

        <div id="header_logo_image">
            <a href="index.html"> <img src="icon/img/icon-logo.png" alt="logo" /> </a>
        </div>

    </div>

    </header>